[2017-05-16 12:30] championswimmer opened #1 "sort claims in /claims/view page in decreasing order of modifiedAt"

[2017-05-16 12:31] championswimmer opened #2 "add pagination to /claims/view page"

[2017-05-16 12:32] championswimmer opened #3 "add pagination to leaderboard"

[2017-05-17 13:07] championswimmer opened #8 "add login with oneauth support, add roles"
- [ ] there should be roles and users
 - [ ] users can login via oneauth
 - [ ] users with admin role can edit claims. others cannot
 - [ ] if github information is available from oneauth, add github username automatically to claim add form

[2017-05-17 13:09] #2 closed

[2017-05-17 13:09] #3 closed

[2017-05-17 13:14] abhishek97 opened #9 "Validate Github username when adding claim"
The github username accepts anything  as of now. It should use github api to check if a username exits or not.

[2017-05-17 18:47] abhishek97 commented on #8
#11  Fixes all the checkboxes. 👍

[2017-05-17 18:52] abhishek97 opened #12 "`status` queryString doesn't work one `/api/claims?status=claimed`"
It just lists all the claims and not filter by status.
![screen shot 2017-05-18 at 12 20 46 am](https://cloud.githubusercontent.com/assets/8109774/26170743/1cc548ba-3b60-11e7-815c-f00bc67b7392.png)

[2017-05-18 20:12] championswimmer commented on #12
valid bug, acepted. added bounty

[2017-05-18 20:13] championswimmer commented on #9
accepted. bounty added

[2017-05-18 20:15] #1 closed

[2017-05-19 02:52] AnshulMalik opened #13 "Support error handling in responses"
Currently, if some error occurs with the api request, the request waits for timeout to occur, that's not good.

So I propose we should return some error to describe the failure.

[2017-05-19 14:56] championswimmer commented on #12
done via https://github.com/coding-blocks/boss-backend/pull/14

[2017-05-19 14:56] #12 closed

[2017-05-23 20:30] sirjan13 opened #16 "Next Button Not disabled"
As we browse the leaderboard as the leaderboard ends the next button should be disabled but currently it takes us to a blank page with just the table headers

## **Last Page:**
![image](https://cloud.githubusercontent.com/assets/22820957/26374885/803c5230-4024-11e7-94c6-f822ef839908.png)

## **After the last page on clicking on Next(which should have been disabled at end of leaderboard):**
![image

[2017-05-23 20:30] sirjan13 commented on #16
@championswimmer  please review

[2017-05-24 04:18] abhishek97 commented on #16
@sirjan13 yes definitely a mistake. do you want go ahead and fix it?

[2017-05-27 12:07] championswimmer opened #17 "when rejecting claim, allow adding an explanation message"

[2017-05-27 12:07] #8 closed

[2017-05-27 12:14] championswimmer opened #18 "when submitting claim, ignore spaces to right or left of username"
spaces might come in the form field by error. ignore spaces on left or right of username on form submission

NOTE: solve it in the backend. not using frontend validation

[2017-05-27 13:20] abhishek97 commented on #17
Fixed : https://github.com/coding-blocks/boss-backend/pull/19

[2017-05-27 14:01] #18 closed

[2017-05-27 19:16] championswimmer opened #21 "make a page about this project on lab.codingblocks.com"
check for reference how to add a new project - https://github.com/coding-blocks/lab.codingblocks.com/pull/7

[2017-05-28 13:40] #17 closed

[2017-05-28 13:41] championswimmer commented on #17
merged. claim your bounty :)

[2017-05-28 13:46] championswimmer opened #22 "add a script to run migrations"
- migrations are in `/db/migrations/<old-version>-to-<new-version>.sql`
 - add a script called `migratedb` (use node itself, or shell - whatever you prefer, do not write in python/ruby or anything that is not required to run the rest of the project)
- pickup db name user pass etc from secrets.json (example format is secrets-sample.json)

 -  [ ] running `migratedb --from 0.0.1 --to 0.0.3` should r

[2017-05-28 13:49] championswimmer commented on #13
that's right, this should be done

[2017-05-28 13:50] championswimmer commented on #16
added bounty. anyone can go ahead and fix it

[2017-05-28 13:50] abhishek97 commented on #22
@championswimmer  Each migration is to be run in a transaction right?

[2017-05-28 13:58] abhishek97 commented on #16
@championswimmer  Fixed In : #23

[2017-05-29 09:26] bhavyaagg commented on #21
@championswimmer added the page.

[2017-06-03 12:32] #13 closed

[2017-06-04 18:18] #16 closed

[2017-06-04 18:20] championswimmer opened #26 "add an item on the navbar for showing open issues"
link to all open issues for BOSS =
https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+label%3ABOSS+org%3Acoding-blocks  or

`https://github.com/issues?utf8=✓&q=is:open is:issue label:BOSS org:coding-blocks`

[2017-06-04 20:44] mukulsaini commented on #26
@championswimmer is it required to make a separate page also for listing all the issues or just add the item to the navbar which will open this link= `https://github.com/issues?utf8=✓&q=is:open is:issue label:BOSS org:coding-blocks` ?

[2017-06-05 02:56] bhavyaagg commented on #21
@championswimmer bhaiya please check the pull request coding-blocks/lab.codingblocks.com/pull/9

[2017-06-05 18:07] abhishek97 opened #30 "Show user his own claims"
We currently just list all the claims. The loggedIn user might be interested in his own claims. There should be an option to filter claims.

- [ ] Show Claims filtered By username
- [ ] Filter Claims by status  { `Accepted`, `Rejected` , `Claimed`

[2017-06-06 00:00] mukulsaini commented on #30
@abhishek97  I have added a PR #29 for filtering claims by status.

[2017-06-06 13:57] prateekiiest commented on #21
@championswimmer , pls review my PR
I have updated links on the feature section.
If you say, I can start working on adding images to the blog posts too.

[2017-06-06 18:20] #26 closed

[2017-06-07 12:03] #21 closed

[2017-06-17 11:15] championswimmer commented on #22
@abhishek97 wrote it ?
you can take pointers from this one https://github.com/coding-blocks/oneauth/blob/master/scripts/migrate.js

[2017-06-19 09:02] bhavyaagg opened #32 "Claim Table gets deleted automatically"

[2017-06-23 06:25] abhishek97 opened #34 "Allow issues to be created only by logged In users"

[2017-06-23 13:52] ArushiSinghal commented on #9
@championswimmer Is this issue solved? If yes, then please close it.

[2017-06-23 22:09] ArushiSinghal opened #36 "There should be a button on Leaderboard to go directly to BOSS homepage."

[2017-06-23 22:12] #36 closed

[2017-08-04 17:25] ArushiSinghal opened #38 "When clicking on "Open Issues" on Chrome browser then it is redirecting to error page "https://github.com/issues?utf8=%E2%9C%93&q=is:open%20is:issue%20label:BOSS%20org:coding-blocks""

[2017-08-12 15:56] prateekiiest opened #40 "https://boss.codingblocks.com/leaderboard seems broken"
The above web page seems broken on my browser.

[2017-08-12 15:57] prateekiiest commented on #40
@championswimmer
@omerjerk

[2017-08-15 04:46] #38 closed

[2017-08-15 07:10] bhavyaagg opened #43 "GET /api/claims is incorrect"
@championswimmer Sir /api/claims does not return the required data. It returns an empty array.

[2017-08-15 07:22] bhavyaagg commented on #43
@championswimmer Please review and add bounty points.

[2017-08-15 07:58] bhavyaagg opened #45 "GET /api/claims/:id/update is not working properly"

[2017-08-15 11:18] #40 closed

[2017-08-15 17:23] championswimmer opened #47 "add tests for the db and apis"

[2017-08-15 17:27] #43 closed

[2018-05-06 14:58] vigneshtdev commented on #47
solved

[2018-05-06 20:43] shreyateeza commented on #9
@abhishek97 @championswimmer This issue needs to be closed as it is resolved.

[2018-05-07 03:12] #9 closed

[2018-05-11 14:19] #45 closed

[2018-05-14 16:45] shreyateeza commented on #22
I am working on this issue.

[2018-05-14 19:37] #22 closed

[2018-05-14 19:40] adityac8 opened #48 "Link Issue with '' claims add ""
The link to which the ```claim add```  is faulty.

![claim](https://user-images.githubusercontent.com/19192257/40019556-2c30c46a-57dd-11e8-9c94-1f5d6a2de4e9.png)

[2018-05-14 19:46] championswimmer opened #49 "Submit any issue/bug or suggest a new feature"

[2018-05-14 19:46] adityac8 commented on #48
I am on it :)

[2018-05-15 03:05] IamRaviTejaG opened #53 "Typo: auth/passportStatergies.js"
The script has been named `passportStatergies.js` has a typo (**strategies**, and not **statergies**), and has been further used inside the file `server.js` here: https://github.com/coding-blocks/boss/blob/master/server.js#L8

New issue filed.
@championswimmer Please approve as per issue #49.

[2018-05-15 03:06] till-tomorrow commented on #49
Provide contribution guidelines or rules of conduct. Also, add more FAQs e.g., the one referenced here-
https://github.com/coding-blocks/oneauth/issues/120

[2018-05-15 08:25] shreyateeza opened #55 "[Feature]Usernames should link to respective github profiles"
## Description
The usernames (highlighted by yellow colour) here should link to respective Github Profiles.

## Mock
![boss1](https://user-images.githubusercontent.com/30488330/40045305-91ce07d2-5847-11e8-84bc-911f9a126658.PNG)

[2018-05-15 08:50] IamRaviTejaG commented on #49
Please approve #54.

[2018-05-15 09:33] ananay opened #56 "API throws an error when adding a claim without a PR URL"
Claims need to be submitted for only opening issues as well. Since they do not include a PR URL, the application should allow the PR URL field to be left blank.

a) In the case of "/api/claims/add", the server throws an error (shown below)
b) In the case of "/claims/add", the request "freezes up", doesn't add the claim and then cloudflare sends the thing shown below

Request output for a)
![image]

[2018-05-15 09:34] ananay commented on #56
@championswimmer @the-dagger @prateek27

[2018-05-15 11:49] Dhroov7 opened #57 "ERROR: Cannot get CLAIMS ADD Page"
![screen shot 2018-05-15 at 5 17 30 pm](https://user-images.githubusercontent.com/18377905/40054946-ef0cb270-5835-11e8-8835-b0c0c4130b38.png)

[2018-05-15 12:05] Dhroov7 commented on #34
I'm working on it.

[2018-05-15 13:45] Dhroov7 commented on #34
We can also do one thing,the server will render the add.hbs only when the user is login via github only.Want your confirmation on this idea?

[2018-05-15 15:39] himanshuc3 opened #59 "Add responsiveness (mobile site)"
I think even the meta tags are not set. I could work on that. Referencing #49
![screen shot 2018-05-15 at 9 09 05 pm](https://user-images.githubusercontent.com/19166045/40067636-3ae0e812-5884-11e8-97cf-8f83e7264cd0.png)

[2018-05-15 15:41] till-tomorrow opened #60 "[Feature] Add "no records found" if there are no records"
![norecordfoundmessagenotfound](https://user-images.githubusercontent.com/21954525/40067639-3b417420-5884-11e8-9148-a1a39d07d84b.JPG)

If there are no accepted or rejected PRs, then show a suitable message like "No Records Found!!"

In reference to issue #49 .

[2018-05-15 15:53] till-tomorrow opened #61 "Allow adding a claim even without adding the PR URL"
An error is shown when the PR URL is not given and the user tries to submit the claim. If the error has to be shown, then show it dynamically(e.g., Display message like "Field required") i.e., before the user submits the claim.

In reference to issue #49

[2018-05-15 17:16] ankurg22 commented on #57
Duplicate of #48

[2018-05-16 08:50] till-tomorrow opened #62 "[Feature] The participant name should redirect to his/her # of contributions in BOSS"
currently, the participant name is not redirecting anywhere. Make it redirect to the page where his/her contribution details can be found.

![linknotredirectinganywhere](https://user-images.githubusercontent.com/21954525/40106783-4074c952-5914-11e8-860f-bf9b74767078.JPG)

[2018-05-16 15:02] v27u27 opened #63 "404 on boss github issues link in navbar"
issues page showing 404 if the person is not logged in to github already

[2018-05-16 19:25] till-tomorrow opened #65 "text overflow on login buttons"
![cbbrokenlink](https://user-images.githubusercontent.com/21954525/40139198-c2ae0714-596c-11e8-8cb9-bd4bfcd4af0b.jpg)

See the login link texts

In reference to issue #49

[2018-05-16 21:04] championswimmer opened #66 "allow editing the bounty points"
for admins only
when editing claims (to change status)
also add feature to change claims amount

[2018-05-16 21:07] #57 closed

[2018-05-16 21:11] #48 closed

[2018-05-16 21:11] #63 closed

[2018-05-16 21:29] championswimmer commented on #56
Why would there be a claim without a PR ?

[2018-05-16 21:36] ananay commented on #61
Duplicate of https://github.com/coding-blocks/boss/issues/56

[2018-05-16 21:40] ananay commented on #56
@championswimmer
According to this https://github.com/coding-blocks/boss/issues/49, there are points for submitting an issue / bug. In this case, we don't have a PR because this is just a filing of an issue so here it doesn't make sense to input anything into the PR field.

[2018-05-16 22:23] tarunesh1234 opened #68 "Side menu bar icon does not works"
![sidebar](https://user-images.githubusercontent.com/32979497/40147016-7f4ce56c-5985-11e8-94a2-46f2ff4869bb.png)

does not works in mobile view
in reference to issue [#49](https://github.com/coding-blocks/boss/issues/49)

[2018-05-17 08:01] bhavyaagg commented on #34
Fixed in #70 .

[2018-05-17 08:02] bhavyaagg commented on #66
Fixed in #69

[2018-05-17 10:55] Dhroov7 commented on #34
@bhavyaagg Cool.

[2018-05-17 14:34] himanshuc3 commented on #65
@championswimmer I generated this issue in Oneauth 2 days ago.

[2018-05-17 19:01] championswimmer opened #71 "add sort by project name (in issue url)"
Keeping this open you can add either

 - filter by project
 - a search box where we can search project name

You can make it on frontend as a live filter, or make make the search as a rest query and make the backend send fresh list of claims which fulfill the search param

[2018-05-17 19:15] championswimmer opened #72 "stats page"
create a page called 'stats' that shows

 - total bounties claimed
 - total bounties accepted
 - total no of claims filed
 - total no of participants (anyone who has 1 claim, irrespective of accepted is participant)

_total bounties means sum of bounty points_

we are using semantic-ui so read up semantic docs, and make cards for each stat and make a nice UI for the page (not just a boring table 😆

[2018-05-18 01:46] ananay commented on #72
Done! #73

[2018-05-18 05:34] himanshuc3 commented on #59
I would be working on this PR in labs.codingblocks.com repo.

[2018-05-18 07:05] aditigupta17 commented on #71
I am working on this :+1:

[2018-05-18 10:53] failedcoder12 opened #74 "Log out button doesnot appear in mobile phone screens even after rotation screen"
![screenshot_20180518_162047](https://user-images.githubusercontent.com/26716263/40231190-b25154b0-5ab7-11e8-9c44-d9edc724f10c.png)

[2018-05-18 11:38] architkshk commented on #71
Hey @championswimmer,
What do you mean by issue url, a page for open issues? or is it view claim page?

[2018-05-18 20:34] #72 closed

[2018-05-18 20:38] championswimmer commented on #62
It can simple go to claims view page with filter on participant name(filter as query param)

[2018-05-18 20:49] #53 closed

[2018-05-19 01:43] ananay commented on #62
Done! https://github.com/coding-blocks/boss/pull/77

[2018-05-19 01:53] ananay opened #78 "Responsiveness"
(working on this)
@championswimmer

[2018-05-19 02:29] ananay commented on #78
Will also solve
https://github.com/coding-blocks/boss/issues/74

[2018-05-19 02:41] architkshk opened #80 "[enhancement] add contribution guidelines on homepage"

[2018-05-19 04:25] ananay commented on #78
Done! https://github.com/coding-blocks/boss/pull/83

@championswimmer @abhishek97

[2018-05-19 08:37] debck opened #84 "[Enhancement] Add the gitter channel link to the homepage"
Adding the link to join the gitter channel in the homepage (here: https://boss.codingblocks.com/) would be great  helpful for those who directly visit the site homepage.

[2018-05-19 20:31] championswimmer commented on #84
Sounds like a good idea !

[2018-05-20 01:26] S2606 opened #85 "Error adding claim"
This happens after i logged in via github account
@championswimmer Please help

[2018-05-20 03:10] debck commented on #84
I would like to work on this. ..

[2018-05-20 06:46] debck opened #87 "[Bug Report] Next Button on Accepted and Rejected claim not working"
The NEXT button while viewing Accepted and Rejected Claims ( here:https://boss.codingblocks.com/claims/view?status=accepted     and  https://boss.codingblocks.com/claims/view?status=rejected) , is redirecting to the claimed ones.

[2018-05-20 20:41] championswimmer commented on #56
The newly created issue will be the PR in that case. Mentioned that on gitter and faq.

[2018-05-20 20:41] #56 closed

[2018-05-21 11:49] Nshul commented on #71
I would like to work on this.

[2018-05-22 10:07] Dhroov7 opened #90 "Bug:Claims button in navBar not working in mobile"

[2018-05-23 03:46] S2606 opened #91 "[Bug Report] Tests aren't running properly"
![image](https://user-images.githubusercontent.com/18497513/40402539-ecb5e4a8-5e69-11e8-84cc-c37b6ed837b9.png)

[2018-05-23 18:20] ananay commented on #59
Made the entire thing responsive here:
https://github.com/coding-blocks/boss/pull/83

[2018-05-24 05:21] Nshul opened #92 "Add a readme on how to set up this project and contribute"
While i was trying to resolve an issue, I found that there are no proper Getting Started instructions to begin working on this project.
I had to personally set up the database using PostgreSQL. (There is no mention in the Readme.md of this project like there is in the shortlr project)
I had to hardcode a workaround the required oneauth authorisation because if you attempt to authorise the localhos

[2018-05-24 06:40] championswimmer commented on #92
added a bounty to this, feel free to go ahead and create a readme properly with contributing section

[2018-05-24 06:41] #71 closed

[2018-05-24 06:45] Nshul commented on #92
Sure. Thank You. I would work on it.

[2018-05-24 20:07] ananay commented on #90
Fixed it here already. Waiting for @championswimmer to merge it!
https://github.com/coding-blocks/boss/pull/83

[2018-05-24 20:09] ananay commented on #84
@championswimmer please close this

[2018-05-25 22:13] #84 closed

[2018-05-26 07:13] Dhroov7 opened #94 "Bug:Error while adding claims"
![screen shot 2018-05-26 at 12 42 50 pm](https://user-images.githubusercontent.com/18377905/40573670-3aa926ba-60b4-11e8-98f7-76c5dffe275f.png)

[2018-05-26 12:12] #92 closed

[2018-05-26 12:45] S2606 commented on #91
@championswimmer ..

[2018-05-26 14:55] championswimmer commented on #91
valid issue, let's fix all the tests !

[2018-05-26 15:23] ankurg22 opened #95 "[Enhancement] External links should open in new tab"
A couple of links in header other than boss site should open in new tab if clicked.
- Information
- Open issues
- Gitter

[2018-05-26 16:08] championswimmer commented on #95
valid point!

[2018-05-26 18:48] Dhroov7 commented on #95
Done! PR #97

[2018-05-26 19:47] #95 closed

[2018-05-27 11:20] ananay commented on #78
@championswimmer could you please add the points for this?

[2018-05-27 12:28] till-tomorrow opened #98 "Text out of mobile screen"
![text overflow](https://user-images.githubusercontent.com/21954525/40585882-614ce6a2-61d7-11e8-87b5-d84f37314642.jpg)

In reference to #49

[2018-05-27 12:34] till-tomorrow opened #99 "no padding b/w filter usernames and project name"
![filter pro](https://user-images.githubusercontent.com/21954525/40585974-2ab85710-61d8-11e8-85d7-2280fe12b680.jpg)

Occurs when **FILTER PROJECTS** is clicked.

In reference to #49

[2018-05-27 12:44] till-tomorrow opened #100 "[enhancement] exit the website on double tapping the back button on mobile"
The user should be able to exit the website on tapping the back button twice on their mobile.

In reference to #49

[2018-05-27 12:56] Dhroov7 commented on #91
@championswimmer Done! PR #101

[2018-05-27 15:13] VibhorCodecianGupta opened #103 "[enhancement] error log in browser on empty submit"
![screen shot 2018-05-27 at 8 41 22 pm](https://user-images.githubusercontent.com/29275810/40587568-834e5de6-61ee-11e8-9ef6-6826d60f90e4.png)

This window shows up when you hit submit button on the 'add claims' page without filling in any details.
This should probably occur as a flash message rather than the entire log.

Work in progress.

[2018-05-27 22:44] Dhroov7 commented on #62
@championswimmer Done! PR #104

[2018-05-28 01:20] S2606 commented on #91
@championswimmer Tests after merging the previous code
![image](https://user-images.githubusercontent.com/18497513/40593084-6dd70ee0-6243-11e8-9b6d-cefec7a06842.png)

[2018-05-28 14:14] architkshk commented on #94
This is due to adding multiple claims for same issue or PR.

[2018-05-28 14:26] architkshk commented on #80
I was talking about boss homepage. I already added it.

[2018-05-28 14:29] Logan1x commented on #80
time to close the issue.

[2018-05-28 14:34] #80 closed

[2018-05-28 17:12] VibhorCodecianGupta commented on #94
Done here, #107 Please review :)

[2018-05-28 17:13] VibhorCodecianGupta commented on #85
Done! #107
Duplicate issue #94

[2018-05-28 17:18] VibhorCodecianGupta opened #108 "Stats show 'NaN' if the figure is zero"
![screen shot 2018-05-28 at 10 46 11 pm](https://user-images.githubusercontent.com/29275810/40624245-12038356-62c9-11e8-886b-b097e0087d84.png)

This should just show 0, instead of 'Nan 0'.

[2018-05-28 19:15] Dhroov7 commented on #103
@championswimmer Done! PR #110

[2018-05-28 19:34] VibhorCodecianGupta commented on #108
Done, #109

[2018-05-28 20:28] #103 closed

[2018-05-28 20:53] #85 closed

[2018-05-28 21:01] ananay commented on #108
Done here #111

[2018-05-30 10:48] ankurg22 opened #113 "[Bug] Enter key doesn't work in filters"
If you type a username or a project name and hit enter then you will see filter is not applied. However, the view is populated with the correct name.

[2018-05-30 10:49] ankurg22 opened #114 "[Enhancement] Option to reset filter"
Add a cross icon on each filter tab to reset filter and load default view.

[2018-05-31 21:49] championswimmer commented on #100
this isn't android or pwa. the website should just do what any other website does.

[2018-05-31 21:49] #100 closed

[2018-05-31 21:50] #78 closed

[2018-05-31 23:51] VibhorCodecianGupta commented on #108
@championswimmer the issue i was pointing out that day in #109 was this:

using `isNaN(x)` leads to type conversion. Which somehow always makes the value inside `NaN` and hence variables are always being set to 0. Relevant screenshots follow. I logged the types of the variables before and after the `isNaN(x)` check, and you can see the conversion from object to number.

![screen shot 2018-06-01 at

[2018-06-01 07:52] architkshk opened #117 "[bug] express session not working (cookies not working)"

[2018-06-01 11:18] championswimmer commented on #108
Ok this seems correct.

Your PR had  !isNaN which definitely gave wrong results when I checked

[2018-06-01 12:56] Dhroov7 commented on #114
@championswimmer Done! PR #119

[2018-06-02 10:32] VibhorCodecianGupta commented on #108
Great. Then should I update the PR and use `Number.isNaN(x)` instead? That definitely gives correct results.

[2018-06-02 10:43] championswimmer commented on #108
The great thing about booleans is there are only 2 values. So if something doesn't work, you can simply prepend with `!`

[2018-06-02 10:44] championswimmer commented on #108
I'll suggest make a fresh PR with `Number.isNaN` on top of current head of project

[2018-06-02 10:52] championswimmer commented on #108
someone from the team fixed while deploying.

[2018-06-02 10:52] #108 closed

[2018-06-02 10:53] #117 closed

[2018-06-02 10:58] VibhorCodecianGupta commented on #108
Yes I just noticed. Nice!

[2018-06-02 13:52] S2606 opened #122 "Add Nodemon for Monitor for any changes and automatically restart the server"
Would be good for dev purposes

[2018-06-03 20:32] championswimmer commented on #122
If you need nodemon

[code]

I don't see why the project needs to incorporate nodemon

[2018-06-03 20:32] #122 closed

[2018-06-04 19:59] #61 closed

[2018-06-04 20:03] #90 closed

[2018-06-05 06:08] VibhorCodecianGupta commented on #60
Done in #124

[2018-06-06 14:51] till-tomorrow commented on #94
Has this issue been fixed?

[2018-06-06 21:53] Dhroov7 commented on #60
@championswimmer Done! PR #126

[2018-06-06 22:29] Dhroov7 commented on #113
@championswimmer Done! PR #127

[2018-06-08 03:37] venomousboxer opened #128 "[Bug] Clicking on participant name in accepted column should display accepted claims"
Right now when we click on a participant name in accepted column the the claimed bounties of that participants are shown rather than accepted bounties since we clicked in accepted bounties column in the first place. Similar problem in **rejected bounties column** also.

![screen shot 2018-06-08 at 9 04 32 am](https://user-images.githubusercontent.com/31950172/41137846-11fb6dda-6afb-11e8-9fcb-89546

[2018-06-12 19:09] #128 closed

[2018-06-13 10:48] aggarwalpulkit596 opened #130 "Change next button border overlay effect to shadow as same as prev button"
![screen shot 2018-06-13 at 4 15 36 pm](https://user-images.githubusercontent.com/29139786/41346744-2689bdbe-6f25-11e8-9cc1-e1c92f246d9c.png)
next button shows a square shadow overlay where as prev button the correct shadow overlay
![screen shot 2018-06-13 at 4 17 31 pm](https://user-images.githubusercontent.com/29139786/41346810-63d216e4-6f25-11e8-95cf-9ff5913e072b.png)

[2018-06-13 10:51] aggarwalpulkit596 opened #131 "Selected tab should be highlighted"
![screen shot 2018-06-13 at 4 20 01 pm](https://user-images.githubusercontent.com/29139786/41346896-a68c0954-6f25-11e8-8164-91c78f36b8c7.png)
![screen shot 2018-06-13 at 4 20 06 pm](https://user-images.githubusercontent.com/29139786/41346899-a9b38c2e-6f25-11e8-98f4-5440e1f82f45.png)
When selected leaderboard selected tab is highlighted but when on stats or claims tab the selected item is not highl

[2018-06-13 20:57] #113 closed

[2018-06-13 21:01] #68 closed

[2018-06-14 05:17] till-tomorrow commented on #114
Is this issue resolved?

[2018-06-15 03:03] venomousboxer opened #134 "Nav bar distorted in small screen"
Nav bar is a little distorted due to the view ( separating line ) not placed systematically. It should be removed or placed at the right position.

![NavBarPic](https://user-images.githubusercontent.com/31950172/41448099-562f022a-7076-11e8-80bc-07f7131da678.png)

[2018-06-15 08:33] championswimmer opened #135 "navbar doesn't show active tabs properly"
should show claim as active when on /claims/* pages and stats active on /stats page

[2018-06-15 08:35] #130 closed

[2018-06-15 10:25] aggarwalpulkit596 opened #137 "Error while Logging In"
![screen shot 2018-06-15 at 3 54 12 pm](https://user-images.githubusercontent.com/29139786/41463537-6e5019c8-70b4-11e8-9147-53c7a70f6f80.png)
Not able to log in and got automatically logged out

[2018-06-15 10:34] aggarwalpulkit596 opened #138 "2 Accounts is linked with a single gmail account"
![screen shot 2018-06-15 at 4 02 28 pm](https://user-images.githubusercontent.com/29139786/41463872-a9b23252-70b5-11e8-91f3-ab0e1643a6ff.png)
i got 2 email when i clicked on forget username and 2 reset password link for 2 different usernames

[2018-06-15 11:12] architkshk commented on #137
Same issue.

[2018-06-15 11:13] architkshk commented on #138
facing same issue.

[2018-06-15 11:54] venomousboxer opened #139 "Error in running npm start command on my system"
I am getting this error while trying to run BOSS on my machine
Any help would be appreciated.
error log :

[code]

[2018-06-15 17:00] architkshk commented on #135
@championswimmer Done! #132

[2018-06-15 20:11] #134 closed

[2018-06-16 21:28] #114 closed

[2018-06-18 05:24] AmanGarg97 opened #140 "Open Issues Showing 404 error"
![screenshot 403](https://user-images.githubusercontent.com/31107917/41519556-6c6e4088-72e6-11e8-9e02-4549887a4fb0.png)

**Clicking on Open Issues is showing 404 error when the user is not logged in Github.**

[2018-06-18 05:34] AmanGarg97 commented on #49
**Open issues shows 404 error**  #140

[2018-06-18 06:34] aggarwalpulkit596 commented on #140
This is not an issue of boss first of all and secondly is not an issue at all .

[2018-06-18 17:56] till-tomorrow opened #141 "logo for BOSS"
In reference to #49

[2018-06-19 16:17] ankurg22 commented on #114
Not a fair competition! :( @championswimmer

[2018-06-20 22:23] championswimmer commented on #140
you need to be logged in to see

[2018-06-20 22:23] #140 closed

[2018-06-25 23:59] championswimmer opened #142 "also add filter by bounty amount"
**NOTE This will be 1000 bounty points if it uses a range slider (like max, min price sliders on ecommerce websites). It will be 200 points if it is done via dropdown**

[2018-06-26 13:12] prankshaw commented on #141
What is it's bounty price @till-tomorrow

[2018-06-26 13:41] prankshaw commented on #142
is this issue open or not, because I think #143 does this, if not, I will like to be assigned to this issue

[2018-06-26 14:18] till-tomorrow commented on #141
It has not been assigned any bounties yet! @prankshaw

[2018-06-26 15:23] Dhroov7 commented on #142
@championswimmer PR #144

[2018-06-26 16:36] #60 closed

[2018-07-06 13:00] #142 closed

[2018-07-06 13:03] championswimmer commented on #142
archit's implementation was the best

[2018-07-06 13:05] championswimmer commented on #141
we don't need a logo

[2018-07-06 13:05] #141 closed

[2018-07-06 13:06] #139 closed

[2018-07-06 13:13] #94 closed

[2018-07-10 13:07] championswimmer opened #145 "rounded corner bottom in bounty selector"
the bottom corners are not rounded, looks bad

<img width="297" alt="image" src="https://user-images.githubusercontent.com/1327050/42511714-45fce864-8470-11e8-9848-220134ffdebc.png">

[2018-07-10 14:10] VibhorCodecianGupta opened #147 "Stats page shows 'NaN' for no bounties"
![screen shot 2018-07-10 at 7 37 44 pm](https://user-images.githubusercontent.com/29275810/42515305-18c7abd2-8479-11e8-9c59-0805679a2dd8.png)

[2018-07-10 14:11] VibhorCodecianGupta commented on #147
This is the same as #108. Not sure why the merged PR did not solve the issue. Opening a fresh PR for the same @championswimmer

[2018-07-11 01:53] VibhorCodecianGupta commented on #147
Resolved in #148 , closing

[2018-07-11 01:53] #147 closed

[2018-07-11 17:58] gamemma commented on #137
you people can simply enter your username and password manually at the place of Username and Password.Then this issue will resolve.

[2018-07-16 15:09] VibhorCodecianGupta opened #149 "Allow participants to remove their own claims"
The following problems can arise with the current structure

- The participant claiming the bounty can possibly make a mistake while claiming, as a consequence of confusion/haste, and claim the wrong BOUNTY points.

- The participant claims the bounty before the respective PR is merged (a majority of participants do that), and the bounty points get altered during the course of the issue.

- Once c

[2018-07-16 15:11] VibhorCodecianGupta commented on #149
@championswimmer done, #150

[2018-07-19 17:56] architkshk opened #152 "[enhancement] option to edit and delete claim"
@championswimmer @abhishek97

[2018-07-25 08:39] architkshk commented on #152
@championswimmer @abhishek97 Any updates?

[2018-08-02 17:29] architkshk opened #154 "Add 404 page for random routes"
@championswimmer

[2018-08-11 16:22] championswimmer opened #156 "add logic to disable POST /claims/ from 16th August 00:00 am"

[2018-08-11 16:47] VibhorCodecianGupta commented on #156
#158

[2018-08-11 17:43] firefinchdev commented on #156
Done #159
@championswimmer
Commited earlier.
Pls Review

[2018-08-11 18:35] architkshk commented on #154
@championswimmer @abhishek97 any updates?

[2018-08-11 18:35] architkshk commented on #152
@championswimmer @abhishek97 updates?

[2018-08-11 20:08] championswimmer commented on #156
my fellow countrymen, Indian Standard Time please

[2018-08-11 20:16] VibhorCodecianGupta commented on #156
@championswimmer done #158 with IST

[2018-08-11 20:43] firefinchdev commented on #156
@championswimmer
Already Done #159

[2018-08-12 11:37] Dhroov7 opened #160 "Add a Boss End Page."
Boss end page get rendered after 15th August 23:59 hrs.

[2018-08-12 11:40] Dhroov7 commented on #160
@championswimmer Please review #161 .

[2018-08-12 11:43] championswimmer commented on #156
@firefinchdev had pushed the fix earlier

[2018-08-12 11:44] #156 closed

[2018-08-12 11:48] #154 closed

[2018-08-13 10:45] #65 closed

[2018-08-13 12:48] championswimmer opened #163 "make the bounty filter numbers editable as text too"
right now only slider moves but cant edit as text

<img width="307" alt="image" src="https://user-images.githubusercontent.com/1327050/44032611-3c739336-9f25-11e8-8433-bf3e48af90a6.png">

[2018-08-13 13:11] architkshk commented on #163
@championswimmer Repo is missing some code https://github.com/coding-blocks/boss/commit/812a65279e5a4ce880d526b48516171f74949292.
https://github.com/coding-blocks/boss/pull/143

[2018-08-14 18:59] #145 closed

[2018-08-15 20:21] #137 closed, assigned to nobody

[2018-08-22 20:04] championswimmer opened #165 "BOSS Winners Contact Information"
Can the winners please email me their phoneNo, email addr, college name, branch, year of graduation to arnav [at] codingblocks [dot] com ASAP

@firefinchdev
@aggarwalpulkit596
@architkshk
@VibhorCodecianGupta
@kapillamba4
@Dhroov7
@lazy-god
@bhavyaagg
@Rishabh570
@venomousboxer

[2018-08-22 20:04] championswimmer commented on #165
Write a comment here once you've already sent it. Will close issue once I get all 10

[2018-08-22 23:44] architkshk commented on #165
Sent @championswimmer

[2018-08-23 01:35] VibhorCodecianGupta commented on #165
Sent @championswimmer

[2018-08-23 03:48] kapillamba4 commented on #165
Sent @championswimmer

[2018-08-23 05:11] aggarwalpulkit596 commented on #165
sent @championswimmer

[2018-08-23 05:49] lazy-god commented on #165
sent @championswimmer

[2018-08-23 08:01] venomousboxer commented on #165
sent @championswimmer

[2018-08-23 10:40] firefinchdev commented on #165
sent @championswimmer

[2018-08-23 11:00] Rishabh570 commented on #165
sent @championswimmer

[2018-08-23 14:11] Dhroov7 commented on #165
@championswimmer sent.

[2018-08-26 19:45] #165 closed

[2019-04-29 06:30] Ramanpreet6262 opened #174 "Favicon not there on website"

[2019-05-15 02:44] samagragupta commented on #160
@championswimmer this issue should get closed.

[2019-05-16 08:24] abhishek97 opened #176 "Error if issue URL is not a proper github issue url"
Server crashes if the claim issue url is not a proper url.

[2019-05-16 08:28] abhishek97 opened #177 "Fix stats page"
<img width="1440" alt="Screen Shot 2019-05-16 at 1 57 39 PM" src="https://user-images.githubusercontent.com/8109774/57838637-b7b64200-77e2-11e9-9cd9-e3a1079949d0.png">

[2019-05-17 07:00] muskankhedia opened #181 "Adding a delete button with all the claimed records"
A delete button to be added with every claimed record in the boss bounty points claimed page so that a participant can delete a record if added mistakenly or had made some mistake.

[2019-05-17 07:01] muskankhedia commented on #181
@witty123 can I work on this ?

[2019-05-17 07:22] abhishek97 commented on #181
There is already an issue here: https://github.com/coding-blocks/boss/issues/152

[2019-05-17 07:22] #181 closed

[2019-05-17 07:27] #174 closed

[2019-05-17 08:10] #177 closed

[2019-05-17 08:12] mansiagarwal451 opened #183 "website points to old lobby"
The BOSS website points to the gitter link for 2018 lobby, instead of 2019 lobby.

[2019-05-17 08:32] muskankhedia commented on #181
ohh.. i didnot see that. Thank u

[2019-05-17 09:54] sameshl commented on #176
@abhishek97, what am I supposed to do here? Can you suggest how I could go about to fix this issue. I did not understand completely from the issue description.

[2019-05-18 06:34] Abhishekguragol commented on #176
Could provide a more detailed description please.

[2019-05-18 06:55] abhishek97 commented on #176
If the claim issue url is not a github issue link, then the server crashes. Try putting google.com as issue url in a claim on your local setup, user should get proper error message

[2019-05-18 11:10] sameshl commented on #176
@abhishek97 I have set up dev env. But when I click on login button on home page in my local machine, I am not getting redirected an logged in. I am still at home page itself. And I need to login in to claim an issue. Can you help me out?

[2019-05-19 07:13] mansiagarwal451 commented on #183
@abhishek97

[2019-05-19 16:59] jaskeerat789 opened #185 "not able to clone the environment due to some error by semantic-ui."
`npm install ` is giving error due to some failure caused by semantic-ui and gulp.
This is not allowing me to clone  the environment.
node-10.15.3
npm-6.9.0
os-ubuntu-disco
![Screenshot from 2019-05-19 22-28-25](https://user-images.githubusercontent.com/38110126/57985432-9628b500-7a85-11e9-8b8b-4d7ea6991c43.png)

[2019-05-19 20:01] jaskeerat789 commented on #176
i am having problem in setting up environment. 'npm install' show me error.
node-10.15.3
npm-6.9.0
![Screenshot from 2019-05-19 22-28-25](https://user-images.githubusercontent.com/38110126/57987427-b022c180-7a9e-11e9-8bac-2e44a7d4f69b.png)

[2019-05-21 10:15] #183 closed

[2019-05-26 05:05] sourabh1031 opened #186 "Greeting Message text overlaps menu options"
![imageedit_5_9439547143](https://user-images.githubusercontent.com/25590627/58377602-06619a00-7fa2-11e9-95f7-cc3cb56a9c37.png)

[2019-05-26 16:36] TheOneAboveAllTitan commented on #176
Is form supposed to take shorten GitHub link too?

[2019-05-27 07:47] TheOneAboveAllTitan commented on #185
I'm having same issue
node- v11.15.0
npm - 6.9.0
OS - Linux Manjaro x86_64
npm logs - http://pasted.co/32abfa39

[2019-05-27 07:56] TheOneAboveAllTitan commented on #160
@abhishek97 please close this issue.

[2019-05-27 08:18] TheOneAboveAllTitan commented on #185
Hey @jaskeerat789
I was having same problem, I downgraded node version to 8 and now it works.

[2019-05-27 13:31] TheOneAboveAllTitan opened #187 "Add node and npm version in readme"
There are lots of issue of people downloading wrong version of node and then creating new issue. Adding versions of these packages will help all developers.

[2019-05-27 17:29] abhishek97 commented on #187
Yes, it is good idea indeed. I'll suggest using `.nvmrc` in root directory and updating docs to recommend using the same.

[2019-05-28 05:22] abhishek97 commented on #176
@TheOneAboveAllTitan No

[2019-05-28 07:58] sakshamtaneja21 commented on #187
yes a good idea

[2019-05-28 08:11] mzfr commented on #185
Yes, this issue was caused after updating. This can be fixed by running `npm install natives@1.1.6`.

[2019-05-28 18:01] TheOneAboveAllTitan opened #190 "Close old issues which have been answered"
There are couple of issues regarding which PRs have been accepted yet they are open. I request maintainers to close such issues. Some of them are following :

Issues - PR

#59 - #75
#62 - #104
#74 - #75
#87 - #88
#160 - #162
#163 - #143 , #146

[2019-05-28 23:24] farhan787 commented on #187
@abhishek97 please review :-)

[2019-05-29 18:26] #160 closed

[2019-06-04 15:22] TheOneAboveAllTitan opened #191 "Show only accepted PRs in leaderboard"
In leader board of BOSS show only accepted PRs instead of submitted PRs.We can also keep both columns and calculate conversion rate as well.

[2019-06-22 06:02] GOYALAYUSH782 commented on #187
@abhishek97 Is this issue open? I would like to to work on it.

[2019-06-23 07:41] TheOneAboveAllTitan commented on #187
@GOYALAYUSH782 I guess this issue is open and two pull request are already open

[2019-08-08 11:57] mritunjaysharma394 commented on #185
Even I was facing the same issue. Just downgrade the version and it works

[2019-08-08 12:13] TheOneAboveAllTitan commented on #185
There is a fix for this in #189

[2019-08-08 19:48] mritunjaysharma394 commented on #187
The semantic error propped up while using the updated version of node.js. After various checks using :
https://nodejs.org/dist/ it was found that version 10.4.1 worked fine. So I #193

[2019-08-21 14:31] TheOneAboveAllTitan commented on #187
Even the BOSS has ended. Can you please merge it now @abhishek97

[2020-05-08 17:08] sarthakkundra commented on #187
Is this issue still open? I would like to work on it

[2020-05-14 19:40] arjunbansal090 commented on #187
I would like to work on this issue

[2020-05-15 03:29] praj1wal opened #197 "Gitter redirect to 2020 lobby"
Currently the gitter option is redirected to the 2019 boss lobby. It needs to be redirected to 2020 boss lobby.

[2020-05-15 03:31] Niteshrocks opened #198 "Login button shown after logged in"
I log in to BOSS though coding blocks account and still, this page shows login option but this time it is redirecting me to the BOSS page again.

[2020-05-15 03:32] Niteshrocks commented on #49
Please approve #198

[2020-05-15 04:46] Mayank4git opened #199 "Footer is absent in Boss coding block website."
There is no footer in boss coding block website.It require this feature so that we can access other coding block platform from there.

[2020-05-15 04:47] Mayank4git commented on #49
Please take a review and approve my issue in your boss coding platforms. #199

[2020-05-15 08:55] Mayank4git commented on #199
@championswimmer  is there any bounty on this issues?

[2020-05-15 09:14] championswimmer commented on #198
In fact login is not working

[2020-05-15 11:50] divyamagwl commented on #199
Can I take up on this issue if no one is working on it yet? @championswimmer @Mayank4git

[2020-05-15 11:52] haardikdharma10 commented on #199
@divyamagwl, I am. But you never know who does it better. You should give it a try as well:)

[2020-05-15 12:24] rishipurwar1 opened #200 "Nvabar background color is absent"
Background color of the navbar should be white when the user scrolls down.
![Screenshot (7)](https://user-images.githubusercontent.com/57035408/82050071-1d2e5e80-96d5-11ea-82dc-120353045f17.png)

I am working on this issue

[2020-05-15 12:40] Mayank4git opened #201 "navbar of boss website"
Navbar of boss website has a issue.when we hover on items of navbar like leaderboard  submenu items overlap navabar.It gives bad impression on user view.

[2020-05-15 12:40] Mayank4git commented on #201
Is there bounty for this issue.?

[2020-05-15 12:45] rishipurwar1 commented on #201
I already opened the same issue.

[2020-05-15 12:49] samagragupta opened #202 "Filters should be at the centre of the screen"
![Capture](https://user-images.githubusercontent.com/32234926/82052075-a8f5ba00-96d8-11ea-9a81-70914e274652.JPG)
In mobile view: Filters should be at the centre of the screen

[2020-05-15 12:50] imvmanish19 commented on #199
Can i take up the issue?

[2020-05-15 12:51] Mayank4git commented on #201
@rishipurwar1  sir my issue is different from yours.read my description.

[2020-05-15 12:57] Mayank4git commented on #199
i am already working on it

[2020-05-15 12:57] rishipurwar1 commented on #201
I think you should add an image of the issue.
BTW I am also a contributor here. so, please don't call me sir.

[2020-05-15 13:11] samagragupta opened #203 "course name is not fully visible"
![Capture](https://user-images.githubusercontent.com/32234926/82053907-bceeeb00-96db-11ea-88df-7b4c282db29a.JPG)

[2020-05-15 13:15] Mayank4git commented on #201
![Screenshot from 2020-05-15 18-42-32](https://user-images.githubusercontent.com/26319657/82054208-31298e80-96dc-11ea-8ad4-40c94097e8da.png)

[2020-05-15 13:15] samagragupta opened #204 "Chat box is not fullyvisible"
![Capture](https://user-images.githubusercontent.com/32234926/82054262-43a3c800-96dc-11ea-8407-4825aaa7d796.JPG)
In mobile view

[2020-05-15 13:16] Mayank4git commented on #201
@rishipurwar1  there you can see navbar is overlapped by submenu items

[2020-05-15 13:24] Mayank4git opened #205 "text overlap of navbar of boss website in mobile"
When we open boss website in mobile then it's navbar is opened which is not working properly and it has issue of View in mobile. **Text Overlap of navbar in mobile view of this boss website**
![new image](https://user-images.githubusercontent.com/26319657/82054903-4bb03780-96dd-11ea-921c-385f18c06b1a.jpg)
![new2](https://user-images.githubusercontent.com/26319657/82054910-5074eb80-96dd-11ea-9275-3

[2020-05-15 13:29] Mayank4git commented on #205
is there bounty for this issue which is very comman and important.

[2020-05-15 13:57] samagragupta opened #206 "Header is not visible properly for smaller window size"
![Capture](https://user-images.githubusercontent.com/32234926/82058249-1d812680-96e2-11ea-8448-58b7e93d2b9a.JPG)

[2020-05-15 15:34] Akansha2202 commented on #187
i want to work on this .

[2020-05-15 15:44] YashKumarVerma opened #207 "Setup CI for automatically building and testing changes to source code"
A free to use CI service like Travis CI/circle CI should be used to automatically test the changes made to the codebase and run tests.

This would
- test changes before the merger
- make sure tests are passing before accepting PR
- ease the method to analyze code before the merge.

[2020-05-15 15:48] YashKumarVerma opened #208 "Generate coverage reports and show in readme"
Like other projects of our organization, we must show code coverage and integrate a third party application and notification bot like codecov to show coverage status on code changes

This would
- make sure code is well tested
- help find reliability in tests
- analyze what parts need to be further tested
- calculate and display coverage percent

[2020-05-15 16:08] heysujal commented on #187
how do i pull?

[2020-05-15 16:10] YashKumarVerma opened #209 "Github repository meta documents missing"
The following documents are missing and should be added to validate the open source project and structure a community.

- [ ] Pull Request Template
- [ ] Issue Template
- [ ] Contributing Guidelines
- [ ] Code Of conduct

Working on it, claiming.

[2020-05-15 16:13] YashKumarVerma commented on #208
working on it

[2020-05-15 16:13] YashKumarVerma commented on #207
working on it

[2020-05-15 17:23] hardik0899 opened #213 "Increase the timings of login token to expire as it logs out the user in very few minutes."

[2020-05-15 17:23] Mayank4git opened #214 "boss mobile view of navbar is not responsive"
when we open navbar of boss website in mobile then text overlay on background text.It is not working properly.Mobile responsiveness is not working on mobile of boss website.

![new3](https://user-images.githubusercontent.com/26319657/82078515-d6edf500-96fe-11ea-8903-9999dc0ff9e3.jpg)

**device used**
**mi A3**

[2020-05-15 17:24] Mayank4git commented on #214
can there be bounty for this?

[2020-05-15 17:53] mnb27 opened #215 "Gitter tab takes to boss 2019 lobby"
https://boss.codingblocks.com/
Gitter tab in navbar is linked to boss-2019-lobby instead of current 2020 lobby. I want to take this issue.
![Screenshot from 2020-05-15 23-20-36](https://user-images.githubusercontent.com/52792904/82080913-0ef73700-9703-11ea-94b4-aa80da06bf2e.png)

[2020-05-15 18:07] mnb27 opened #216 "UI for Stats"
The stats UI is is very basic. We can add charts to make it look attractive to users.
![Screenshot from 2020-05-15 23-29-35](https://user-images.githubusercontent.com/52792904/82082018-e4a67900-9704-11ea-8a1f-dcb104dd7d82.png)
![meta-chart](https://user-images.githubusercontent.com/52792904/82082024-ea9c5a00-9704-11ea-9bd7-806f45af051f.png)

[2020-05-15 18:21] Adarsh08X opened #217 "Transparent taskbar, text overlaps on scrolling"
Background of taskbar is transparent resulting in overlapping of text upon scrolling i would like to solve the issue

<img width="960" alt="2020-05-15 (1)" src="https://user-images.githubusercontent.com/51786499/82083185-ec671d00-9706-11ea-9515-84de6a26d195.png">

[2020-05-15 18:43] hereisnaman commented on #217
Assigned bounty.

[2020-05-15 18:49] mnb27 opened #218 "Automatic Logout after 7-8 mins"
https://boss.codingblocks.com/
Requires Login again and again in duration of 7- 8 minutes.
Timeout time to be updated.
![Screenshot from 2020-05-16 12-43-06](https://user-images.githubusercontent.com/52792904/82113389-4bfb1200-9773-11ea-81f8-778c3b418a0b.png)

[2020-05-15 18:50] pandafy commented on #187
Hey guys, as you can see there are already two pull requests open for this issue. Unless your work improves those PRs it will be pointless to open a new one. IMO, it is better to focus on other issues.

[2020-05-15 18:56] iemprashant commented on #217
Sir, which repo if of boss frontend I am unable to find

[2020-05-15 18:59] shivam-bit commented on #217
i would like to work on this please assign

[2020-05-15 19:02] codewithdev opened #219 "Remove the "Enroll Option" when already Logged In."
![Capture](https://user-images.githubusercontent.com/44609609/82087087-0b68ad80-970d-11ea-9beb-aa1f070e9603.JPG)
On the course Page for the new Course heading over header if the user is already logged in no need to show the enroll option. We can add "Enroll Now" to default.

[2020-05-15 19:09] iemprashant opened #220 "Generate Modal popup of login when visiting Boss site"
As we open site it would be great to get a  popup to log in for contribution as we have to log in for claims so it will be great for user experience

[2020-05-15 19:33] hereisnaman commented on #217
This is a server side rendered project. There is no separate frontend.

[2020-05-15 19:33] hereisnaman commented on #214
Assigned Bounty.

[2020-05-15 19:34] iemprashant opened #221 "add navigation bar hover effects animation"
![image](https://user-images.githubusercontent.com/53941491/82089302-03127180-9711-11ea-8b92-1e9f785108cd.png)
There is no hover effect in the submenu of navbar adding it will look great in UI

[2020-05-15 19:36] iemprashant opened #222 "Nav bar submenu overlaps in mobile view"
![image](https://user-images.githubusercontent.com/53941491/82089584-7e742300-9711-11ea-8094-48c9f6efb50c.png)

[2020-05-15 19:47] dungeonmaster51 opened #223 "Navigation bar error"
![image](https://user-images.githubusercontent.com/34394217/82090314-f98a0900-9712-11ea-8e0a-1a8c3ef67c64.png)
Static navigation bar.

[2020-05-15 19:52] #219 closed

[2020-05-15 20:18] iemprashant commented on #217
Thanks bhaiya , I didn't know about that earlier

[2020-05-15 21:19] amzamani commented on #217
Bug resolved
Created a pull request :
https://github.com/coding-blocks/boss/pull/225

Now the taskbar text does not overlaps on scrolling.
![Screenshot 2020-05-16 at 2 39 26 AM](https://user-images.githubusercontent.com/62957837/82097039-be420700-971f-11ea-8ff7-df467735ce2c.png)

[2020-05-15 22:20] amzamani commented on #214
Please assign this to me.

[2020-05-16 01:16] Mayank4git commented on #214
@hereisnaman thanks :) to assign bounty to my issue

[2020-05-16 01:43] Niteshrocks commented on #152
Can I work on this issue ?
Is it open?

[2020-05-16 03:38] Daggerhub opened #226 "Overlapping of text in the navbar due to scrolling."
![Screenshot (8)](https://user-images.githubusercontent.com/52444845/82109577-c8cac380-9754-11ea-87d3-2e070f0d0fa2.png)

[2020-05-16 03:40] Daggerhub commented on #226
This can be overcome if during scrolling the navbar has a darker color.

[2020-05-16 04:48] jugshaurya commented on #214
can anyone work on this issue or have to wait for the assignment?

[2020-05-16 04:53] Mayank4git commented on #214
Yes I have almost complete it.

On Sat, May 16, 2020, 10:18 AM Shaurya Singhal <notifications@github.com>
wrote:

[2020-05-16 04:55] Mayank4git commented on #214
@jugshaurya i will pull request on this after one hour.work is almost completed

[2020-05-16 05:08] jugshaurya commented on #214
ok @Mayank4git let me know if i can help

[2020-05-16 05:10] Mayank4git commented on #214
Definitely

On Sat, May 16, 2020, 10:38 AM Shaurya Singhal <notifications@github.com>
wrote:

[2020-05-16 05:35] rishipurwar1 commented on #201
@Mayank4git  this is a different issue. First, confirm with the mentors.

[2020-05-16 05:50] jashasweejena opened #227 "Bug: Gitter button redirects to 2019 BOSS gitter"
The Gitter button on the toolbar below redirects to the BOSS 2019 Gitter chat. Redirect it to BOSS 2020 instead

![image](https://user-images.githubusercontent.com/20218197/82112055-3122a080-9767-11ea-90a0-acb9ccc4d3a7.png)

[2020-05-16 06:01] praj1wal commented on #197
@championswimmer  any bounties for this?

[2020-05-16 06:46] rishipurwar1 commented on #200
please assign bounty to this issue.

[2020-05-16 07:01] pooja-gera commented on #49
[Feature] Mobile Application shows error while playing videos when another application is opened. It should have an option to continue from where the user left when he accesses the video through the curriculum.

[2020-05-16 07:04] iemprashant commented on #227
I think it is just a 2019 lobby but this time they are using discord

[2020-05-16 07:15] mnb27 commented on #227
@jashasweejena  Already mentioned this issue.
 #215

[2020-05-16 07:40] sanskarbansal opened #228 "Missing: Footer section in Live Classes section is missing."
Footer section is missing at [Live Class Page](https://codingblocks.com/live-classes.html)

[2020-05-16 07:53] #228 closed

[2020-05-16 07:54] HashTalmiz opened #229 "Gitter to Discord (change in nav link)"
The navigation page has *Gitter* as its link for discussions. Since discussions have moved over to **Discord** the link needs to be changed with the associated icon.
@hereisnaman  Please assign BOUNTY :D

[2020-05-16 07:57] HashTalmiz commented on #229
Also, I've made the changes in the PR here: https://github.com/coding-blocks/boss/pull/230
@hereisnaman have a look, its ready for merge

[2020-05-16 08:12] hardik0899 commented on #213
@hereisnaman bro is this not an issue?

[2020-05-16 08:26] YashKumarVerma commented on #209
pinging for bounty triage @hereisnaman

[2020-05-16 08:26] YashKumarVerma commented on #208
pinging for bounty triage @hereisnaman

[2020-05-16 08:26] YashKumarVerma commented on #207
pinging for bounty triage @hereisnaman

[2020-05-16 10:00] pulkitmittal19 opened #232 ""More options icon" not showing on screen resize"
![issue_1](https://user-images.githubusercontent.com/53789333/82116758-98514c80-9789-11ea-9a0e-478d17c33c59.png)

On screen resize we could't see the **"more option icon"** to **certain resolution** of the screen to access the other fileds.

[2020-05-16 10:06] pulkitmittal19 opened #233 "Not able to click on "view" under "claim" option on window resize"
![issue_2](https://user-images.githubusercontent.com/53789333/82116914-bbc8c700-978a-11ea-9ef4-a9067b01de84.png)

Now able to click on **"view"** under claim button on **window resize** and sometimes on normal screen resolution also.

[2020-05-16 10:13] pulkitmittal19 opened #235 "Nav bar goes to bottom of the page after resizing the page"
![issue_3](https://user-images.githubusercontent.com/53789333/82117119-c59efa00-978b-11ea-8596-9dfc2474d892.png)

Navigation bar goes to **bottom** of the page after **resizing**  the page **2-3 times** and doing **hover** on the **"claim"** and **"leaderboard"** option and then again resizing the window to normal resolution

Then it **resets** to normal after **refreshing** the page.

[2020-05-16 10:50] pulkitmittal19 opened #236 "Typing mistake Readme file"
![issue_4](https://user-images.githubusercontent.com/53789333/82117872-f6356280-9790-11ea-8868-37c328e411bc.png)

Instead of **"you"** it should be **"your"**

[2020-05-16 11:03] Sujal123456 opened #237 "Adding README file to the official BOSS website"
BOSS website consists of flurry of issues enlisted.
But it doesn't have a README file. For a  beginner, it will be extremely difficult to understand the code base .
Please allow me to create a README file for the BOSS github page

[2020-05-16 11:07] YashKumarVerma opened #239 "API Documentation Missing"
Since BOSS has an API, it should have proper documentation written in a standard format like APIDocs.

---
Working on it after confirmation

[2020-05-16 11:10] samjain2907 opened #240 "The tabs are not aligned properly"
![Selection_003](https://user-images.githubusercontent.com/53353139/82118258-9ee4c180-9793-11ea-9d51-87895c055a6f.png)
The Logout and the Welcome links are not aligned properly in Y direction. They should be realigned for better UI

[2020-05-16 11:16] YashKumarVerma opened #241 "Undocumentaed Secret in secrets.json"
There is no mention about  this secret in the readme, which is confusing while setting up local dev environment.

[code]

[2020-05-16 11:58] YashKumarVerma opened #242 "Unstructured Codebase"
Since the BOSS repository is used every year, the code needs to follow particular standards and guidelines. Therefore linters should be set up to force standard code guidelines on the repository.

---

Working on it would send PR as soon as the issue acknowledged.

[2020-05-16 11:58] Adarshsingh2k opened #243 "Leaderboard only shows present year and previous 1 year"
when clicked on leaderboard it only shows present year and previous one year it does not show all previous years or a scroll bar.
![Capture](https://user-images.githubusercontent.com/41821911/82119266-99d74080-979a-11ea-8c4f-18f0ace02bc9.PNG)

[2020-05-16 12:03] Adarshsingh2k commented on #243
I would like to work on this

[2020-05-16 13:18] sahuaman83 commented on #215
can i work on this issue?

[2020-05-16 13:19] sahuaman83 commented on #241
can i work on this issue..i can fix this

[2020-05-16 13:20] sahuaman83 commented on #240
can i work on this issue..i can fix this

[2020-05-16 13:22] sahuaman83 commented on #232
can I work on this issue. I can fix this

[2020-05-16 13:58] YashKumarVerma commented on #241
which token is this actually?

[2020-05-16 14:51] sahuaman83 commented on #241
actually, according to readme it also suggests to rename this file and add your details, but if person rename this secrets-sample.json file to secrets.json they  overwrite secrets-sample.json file which will be making errors while setting up dev environment

[2020-05-16 15:03] YashKumarVerma commented on #241
I think the readme is verbose about using the secrets, but my point here is that there is no mention (if i looked it right) about the first **secret**. from where to obtain it, which api.

I hope I'm not confusing to understand

[2020-05-16 20:39] Sapna2001 opened #245 "Contents overlapping during scrolling"
The page contents and the navbar is overlapping while scrolling

![Screenshot (195)](https://user-images.githubusercontent.com/56690856/82129829-6e2c7880-97e3-11ea-9f90-e49638a6b277.png)

[2020-05-17 10:22] aannaassalam opened #248 "Gitter icon is redirecting to Gitter's old lobby boss-2019"
The Gitter block on BOSS website is redirecting to users to boss-2019-lobby.
It must redirect users to the new lobby of boss 2020

[2020-05-17 10:23] aannaassalam commented on #248
@abhishek97 please assign bounties to it so that I can start working on it...

[2020-05-17 11:08] aannaassalam commented on #49
@championswimmer Arnav bhaiya I have added an issue #248 and it has been approved, so according to this thread I deserve 20 bounties. If you think that my request is valid so please assign bounties to me

[2020-05-17 12:35] ankiiitraj opened #251 "Show Rank and "Your Rank" on leaderboard"
- [x] Show Ranks on leaderboard.
- [x] If user is logged in show "Your Rank" on top of leaderboard and then the reset of the leaderboard. Similar to the leaderboard shown on [Hackerblocks](https://hack.codingblocks.com/app/)

[2020-05-17 12:36] ankiiitraj commented on #251
Hi @championswimmer , Please have a look here.
If this is okay to you assign the bounty. Thanks.

[2020-05-17 14:03] mnb27 commented on #248
@aannaassalam @abhishek97  I had mentioned this issue before this. #215
Please assign bounties to older raised issues first.

[2020-05-17 14:08] aannaassalam commented on #248
@mnb27 you didn't requested them to assign bounties but I did and after the assignment of bounties I had given the solution
The issue firstly must be reviewed by a contributor and then only and bounties can be assigned and PR can be made to claim that

[2020-05-17 14:17] mnb27 commented on #248
@aannaassalam  We don't have to request to assign bounties.

[2020-05-17 14:18] aannaassalam commented on #248
@mnb27 ooh thank you for this piece of information
It was like I didn't knew that before

[2020-05-17 14:18] mnb27 commented on #218
@abhishek97 Please assign bounties so that I can work on the issue.

[2020-05-17 14:20] mnb27 commented on #216
@abhishek97 Please assign the bounty to this issue.

[2020-05-17 14:20] mnb27 commented on #215
@abhishek97

[2020-05-17 14:22] Swayamsvk opened #253 "npm install fails"
While doing npm install I am getting this error:-

internal/modules/cjs/loader.js:796
    throw err;
    ^

Error: Cannot find module 'gulp-util'
Require stack:
- /usr/lib/nodejs/gulp/bin/gulp.js
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:793:17)
    at Function.Module._load (internal/modules/cjs/loader.js:686:27)
    at Module.require (internal/modules/cjs/loader.js:8

[2020-05-17 14:30] Coding-Bee opened #254 "Gitter route redirects too https://gitter.im/coding-blocks/boss-2019-lobby"

[2020-05-17 14:31] abhishek97 commented on #254
Duplicate issue.

[2020-05-17 14:31] #254 closed

[2020-05-17 14:32] Coding-Bee opened #255 "Needs to to add discord 2020 invite link"

[2020-05-17 14:33] abhishek97 commented on #197
Yes, you can claim 20 for raising an accepted issue.

[2020-05-17 14:33] abhishek97 commented on #248
Duplicate of https://github.com/coding-blocks/boss/issues/197

[2020-05-17 14:33] #248 closed

[2020-05-17 14:33] abhishek97 commented on #227
https://github.com/coding-blocks/boss/issues/197

[2020-05-17 14:33] #227 closed

[2020-05-17 14:34] abhishek97 commented on #215
Duplicate of https://github.com/coding-blocks/boss/issues/197

[2020-05-17 14:34] #215 closed

[2020-05-17 14:34] abhishek97 commented on #229
Duplicate of https://github.com/coding-blocks/boss/issues/197

[2020-05-17 14:34] #229 closed

[2020-05-17 14:34] abhishek97 commented on #255
Duplicate of https://github.com/coding-blocks/boss/issues/197

[2020-05-17 14:34] #255 closed

[2020-05-17 14:37] abhishek97 commented on #216
@mnb27 The Idea is good. Can you also list down what different types of stats we can show here. Also for charts, we can use  https://www.chartjs.org/

[2020-05-17 14:39] abhishek97 commented on #220
@iemprashant There are BOSS features which don't require login, For ex: just viewing the leaderboard and claims. It'll be bad UX to require login for these basic public actions.

[2020-05-17 14:39] #220 closed

[2020-05-17 14:41] abhishek97 commented on #222
isn't this covered under https://github.com/coding-blocks/boss/issues/217 ?

[2020-05-17 14:41] abhishek97 commented on #223
Duplicate of https://github.com/coding-blocks/boss/issues/217

[2020-05-17 14:41] #223 closed

[2020-05-17 14:43] Coding-Bee opened #256 "Boss Homepage , communication link redirects too 2019 gitter and email redirection"
You can hang out with mentors and other participants on the BOSS 2020 lobby on Gitter Gitter
https://lab.codingblocks.com/boss

If you have any specific query that you want to ask privately over email please use arnav [at] codingblocks [dot] com

[2020-05-17 14:47] abhishek97 commented on #239
I've assigned the bounties for these tasks

- [ ] 100 Bounty: Writing the api docs
- [ ] 200 Bounty: Setup api doc generator to build and publish api docs to gh-pages

[2020-05-17 14:47] mnb27 commented on #216
@abhishek97 Stas like:-
# TOP 3 winners (hall of fame kind of) each year
# FOOTFALLS
# PARTICIPATION YEAR BY YEAR
# ISSUES RAISED AND SOLVED
# TOTAL BOUNTIES CLAIMED
#TOTAL BOUNTIES ACCEPTED
# TOTAL CLAIMS FILED

[2020-05-17 14:50] iemprashant commented on #220
When we click on a claim button we can then go for login popup as if we have not logged in then have to go to the login button and adding credentials. So if it automatically popup it will definitely be addon in UX

[2020-05-17 14:52] abhishek97 commented on #253
Look like you haven't install project dependecies.
try `npm install` or `yarn install`

[2020-05-17 14:53] #256 closed

[2020-05-17 14:56] HashTalmiz commented on #197
PR with change: https://github.com/coding-blocks/boss/pull/230

[2020-05-17 14:57] #245 closed

[2020-05-17 15:09] championswimmer opened #257 "handle admin levels here too"
we take admin or not value from oneauth

but we need a way to manage admin flag on users here at boss as well. so someone who is not admin on oneauth can be marked as admin here too.

[2020-05-17 15:10] hereisnaman opened #258 "Improve accept claim page layout"
The layout of the accept claim page is not the best. Preferably add a 2 column layout, fix margins, grammar, and formatting.

![Screenshot 2020-05-17 at 8 36 55 PM](https://user-images.githubusercontent.com/22571395/82152386-708fe080-987e-11ea-9d4a-c3b8a357d033.png)

[2020-05-17 15:10] championswimmer commented on #257
BOUNTY = 300

[2020-05-17 15:16] jugshaurya commented on #258
@hereisnaman, i would like to work on this

[2020-05-17 15:22] jugshaurya opened #259 "ClaimPage not working"
Add Claim Page not working
![wrong](https://user-images.githubusercontent.com/39825643/82152632-46d7b900-9880-11ea-9681-95c1e784d807.png)

even if the user is logged in

[2020-05-17 15:24] jugshaurya commented on #251
@ankiiitraj are you working on it?

[2020-05-17 15:26] #259 closed

[2020-05-17 15:27] hereisnaman opened #260 "Add conflicting claims section on accept claims page"
Based on the issue and pull request url, find the list of conflicting claims and display them on the accept claims page.

Solutions with better layout, and covering all the edge cases will be preferred.

Things to take care of:
1. If the target claim is for a pull request (i.e the pull request url point to a pr on github and not an issue), then only find conflicting claims which are also for a PR

[2020-05-17 15:29] hereisnaman opened #261 "Reject all the conflicting claims on accepting one"
One issue #260  is resolved. Use the same logic to auto reject the conflicting claims on accepting one.

This issue has 300 bounty points.

[2020-05-17 15:31] Swayamsvk commented on #253
Actually this error raises after I do npm install or yarn install.

[2020-05-17 15:52] YashKumarVerma commented on #239
@abhishek97 #241  needs to be resolved first for it

[2020-05-17 15:53] YashKumarVerma commented on #260
I would like to work on it once https://github.com/coding-blocks/boss/issues/241 is cleared out, as it stops from setting up a local dev environment

[2020-05-17 15:54] ankiiitraj commented on #251
@jugshaurya I am working on it.

[2020-05-17 15:55] ankiiitraj commented on #251
Hi @abhishek97 Kindly assign this to me

[2020-05-17 16:12] jugshaurya commented on #251
ok @ankiiitraj

[2020-05-17 17:19] hereisnaman commented on #241
The secret can be anything, it is used to generate sessions keys. Closing this issue.

[2020-05-17 17:19] #241 closed

[2020-05-17 17:27] hereisnaman commented on #258
Go ahead.

[2020-05-17 17:41] #222 closed

[2020-05-17 17:51] iemprashant commented on #226
please check issue #200 and #201 already mentioned there

[2020-05-17 17:54] iemprashant commented on #218
@abhishek97  please check
Increase the timings of the login token to expire as it logs out the user in very few minutes. #213
both are same

[2020-05-17 19:20] abhishek97 commented on #239
we can use [apidoc](https://apidocjs.com/) for this

[2020-05-17 19:31] YashKumarVerma commented on #239
thanks, starting to work on it

[2020-05-18 03:13] hereisnaman opened #264 "Bot Test Issue"
Test

[2020-05-18 03:13] YashKumarVerma commented on #261
would like to work on it after sending PR for #260

[2020-05-18 03:16] #264 closed

[2020-05-18 03:17] hereisnaman opened #265 "Bot Test Issue"
Test

[2020-05-18 03:18] #265 closed

[2020-05-18 03:18] hereisnaman opened #266 "Bot Test Issue"
Test

[2020-05-18 03:24] #266 closed

[2020-05-18 03:24] hereisnaman opened #267 "Bot Test Issue"
Test

[2020-05-18 03:27] #267 closed

[2020-05-18 03:27] hereisnaman opened #268 "Boss Bot"
Test

[2020-05-18 03:31] #268 closed

[2020-05-18 03:50] YashKumarVerma commented on #257
@championswimmer  how should this be implemented ? should we add a feature for other user who is already logged as admin to make other "users" as admin ?

[2020-05-18 03:51] championswimmer commented on #257
Yes existing admins can make others admin

[2020-05-18 03:52] championswimmer commented on #49
Bounties are to be claimed via boss.codingblocks.com

[2020-05-18 03:53] YashKumarVerma opened #269 "Undocumented Source code"
The codebase of BOSS is almost completely undocumented, which makes it relatively hard for new contributions to use and follow up.

Since the same repo is being used for all BOSS's throughout the years, it would be good to have the entire codebase properly documented using standard tools like jsdocs.

---

Willing to work on it after confirmation.

[2020-05-18 03:54] samagragupta opened #270 "Footer is not proper"
![Capture](https://user-images.githubusercontent.com/32234926/82172939-5b9c6700-98e9-11ea-80c5-a4d7175beaaf.JPG)

[2020-05-18 03:56] samagragupta commented on #202
@abhishek97 Can you please add bounty?

[2020-05-18 03:57] #203 closed

[2020-05-18 03:58] samagragupta commented on #270
@abhishek97 Can you please add bounty?

[2020-05-18 03:59] YashKumarVerma commented on #257
sure, will be sending pr for it.

---

[2020-05-18 04:00] #204 closed

[2020-05-18 04:11] Mayank4git opened #271 "Boss website new footer is not responsive in both laptop as well as mobile."
**The footer that has been added is not responsive at all.It is creating bad website view.**
__________________________________

![Screenshot from 2020-05-18 09-37-17](https://user-images.githubusercontent.com/26319657/82173601-77a10800-98eb-11ea-8c2f-020e498fef65.png)

**I am not able to see leaderboard of 2020 because of this footer**.website is not behaving in proper manner in any tab.Please re

[2020-05-18 04:11] YashKumarVerma opened #272 "Error 500 in /leaderboard route"
The route throws 500 error when:

- a noninteger year passed into URL
- a year passed for which entries don't exist for boss (for example 2050)

---

Working on it

[2020-05-18 04:13] YashKumarVerma commented on #270
@samagragupta  please send a pr, the bounty can be added later on also, this issue is making the site unusable. :cry:

[2020-05-18 04:13] Mayank4git commented on #271
@championswimmer please review this issue and assign bounty if there are for it.

[2020-05-18 04:13] YashKumarVerma commented on #271
Possible duplicate of #270

[2020-05-18 04:14] Mayank4git commented on #271
@YashKumarVerma but this added footer without testing making website work so bad

[2020-05-18 04:21] YashKumarVerma commented on #271
sure it does.

[2020-05-18 04:52] mnb27 opened #274 "Can't move to next Leaderboard and Claim pages"
Footer is hiding the next page button.
![Screenshot from 2020-05-18 10-10-01](https://user-images.githubusercontent.com/52792904/82175046-4a0a8d80-98f0-11ea-86e6-5e6d24bee5a7.png)
![Screenshot from 2020-05-18 10-10-09](https://user-images.githubusercontent.com/52792904/82175306-3ca1d300-98f1-11ea-8fd6-f54a74a3991e.png)

[2020-05-18 05:06] samagragupta commented on #270
@YashKumarVerma Sure

[2020-05-18 05:52] YashKumarVerma commented on #274
Possible duplicate of #270 #271

[2020-05-18 07:14] prabalsingh24 opened #275 "Don't allow duplicate claims"
Kind of an extension of #260

There might be cases when a student add a same claim twice. And if the mentor accepts the both of them, it will give student double bounty. There should be feature to avoid having duplicate claims

@hereisnaman This can be a different issue right? Because this feature is slightly different than conflicting claims one

[2020-05-18 07:22] ankiiitraj commented on #270
Hi mentors @hereisnaman please assign the bounty her. Thanks!

[2020-05-18 07:26] ankiiitraj commented on #275
Hi @prabalsingh24 , sometimes mentors allow both the persons who made PR for the same isuue to claim points. So I think there can be another solution for this.

[2020-05-18 07:28] ankiiitraj commented on #261
I would like to work on this

[2020-05-18 07:36] prabalsingh24 commented on #275
No that is a conflicting issue (Both of them have same issue but different PRs) . I am talking about duplicates (Same username, same issue, same pr)

[2020-05-18 07:47] prabalsingh24 commented on #275
Edit: This is a already a feature. but It is not working for the cases when different type of URL is used (`/` in the end, `http-->https`),

[2020-05-18 07:55] ankiiitraj commented on #275
Gotcha @prabalsingh24

[2020-05-18 08:30] YashKumarVerma commented on #258
@jugshaurya  are you working on it ?

[2020-05-18 08:33] jugshaurya commented on #258
Yes

[2020-05-18 08:37] YashKumarVerma commented on #258
I think you'll have to accommodate the changes done in this PR as well :smile:

[2020-05-18 08:43] YashKumarVerma commented on #261
With #279 sent which satisfies #260, will be sending PR for this now.

[2020-05-18 10:18] YashKumarVerma commented on #239
@abhishek97  quick question, this documentation has be for the routes in api.js right ?

[2020-05-18 10:29] iemprashant commented on #221
@abhishek97  Sir, how I can claim 20 bounties for creating issue.?

[2020-05-18 10:36] prabalsingh24 opened #280 "Don't allow Unauthorized editing/deleting of Claims"
Anyone can edit/delete anyone's Claims right now (they just need to be logged in in github).
https://boss.codingblocks.com/claims/863/edit
Claims should allowed to edit by the person who claimed it

[2020-05-18 10:36] prabalsingh24 commented on #280
@hereisnaman Please assign bounty.
Working on this :)

[2020-05-18 10:38] Sapna2001 opened #281 "Discord Channel"
Only the gitter channel has been mentioned on the website and it would be better if the discord channel link is also added to the website.

[2020-05-18 10:40] samagragupta opened #282 "Proper arrangement of icons in footer"
![Capture](https://user-images.githubusercontent.com/32234926/82204184-0f214d80-9922-11ea-93b2-b75d9e94facc.JPG)

[2020-05-18 10:42] Sapna2001 opened #283 "Footer too large"
The footer is too large and due to this, the users are not able to access the whole content on the page.
![Annotation 2020-05-18 161052](https://user-images.githubusercontent.com/56690856/82204359-5f001480-9922-11ea-8b33-3c8149f4d5dc.png)

[2020-05-18 11:15] prabalsingh24 commented on #283
Duplicate of https://github.com/coding-blocks/boss/issues/270

[2020-05-18 11:16] prabalsingh24 commented on #281
Duplicate of https://github.com/coding-blocks/boss/issues/197

[2020-05-18 13:25] Keshavcool opened #286 "Navbar Transparent Issue"
![Screenshot_20200516-073643](https://user-images.githubusercontent.com/40866592/82218082-f53f3500-9938-11ea-9d37-5f73034f0465.jpg)

When navbar is open it is not backed up by some backdrop or background means it open as transparent over the content.

[2020-05-18 13:37] championswimmer opened #287 "use cb bootstrap theme"
- semantic ui isn't well maintained anymore (fomantic exists, but nevertheless)
- we have our own branded bootstrap edition - https://bootstrap.codingblocks.in

we will move the entire frontend (i.e. hbs pages) to cb's bootstrap and remove all semantic/fomantic stuff

[2020-05-18 13:38] #236 closed

[2020-05-18 13:44] prabalsingh24 commented on #272
This don't look like a bug to me. If url is incorrect, it should throw error. 400 (bad request) error instead of 500 maybe?
@hereisnaman will have to confirm though :)

[2020-05-18 13:46] hereisnaman commented on #272
@YashKumarVerma @prabalsingh24 Its a bug, it should return 404 page. Good find.

[2020-05-18 13:51] hereisnaman opened #288 "Test issue"

[2020-05-18 13:51] #288 closed

[2020-05-18 13:58] hereisnaman commented on #258
Can you make separate PRs, first to fix this and then the conflicts one?

[2020-05-18 14:07] prathambatra commented on #287
I would like to work on this

[2020-05-18 14:13] YashKumarVerma commented on #258
should I add the sidebar with conflicts in another PR ?

@jugshaurya  is working on this one

[2020-05-18 14:16] hereisnaman commented on #258
The sidebar idea looks good.

[2020-05-18 14:17] YashKumarVerma commented on #287
Interested in working on this

[2020-05-18 14:18] samagragupta commented on #287
@championswimmer Can we not divide it into parts?

[2020-05-18 14:29] hereisnaman commented on #271
closing in favor of https://github.com/coding-blocks/boss/issues/270

[2020-05-18 14:29] #271 closed

[2020-05-18 14:30] hereisnaman commented on #274
closing this in favor of https://github.com/coding-blocks/boss/issues/270

[2020-05-18 14:30] #274 closed

[2020-05-18 14:53] hereisnaman commented on #275
You can work on it.

[2020-05-18 14:59] championswimmer commented on #287
How? A css framework switch will have to be in one go. It's only 3-4 views.

[2020-05-18 15:02] hereisnaman commented on #286
Closing this in favor of https://github.com/coding-blocks/boss/issues/214

[2020-05-18 15:02] #286 closed

[2020-05-18 15:03] hereisnaman commented on #213
@hardik0899 you can claim 20 points for raising this issue.

Closing this in favor of https://github.com/coding-blocks/boss/issues/218

[2020-05-18 15:03] #213 closed

[2020-05-18 15:06] hardik0899 commented on #213
Ok thanks for the info @hereisnaman bhaiyia

[2020-05-18 15:17] championswimmer opened #292 "Link discord instead of gitter"
Invite link https://discord.gg/8PPQMrx

[2020-05-18 15:27] hereisnaman commented on #283
footer has been removed

[2020-05-18 15:27] #283 closed

[2020-05-18 15:27] ankiiitraj commented on #292
I am working on this

[2020-05-18 15:27] hereisnaman commented on #270
footer has been removed

[2020-05-18 15:27] #270 closed

[2020-05-18 15:37] #272 closed

[2020-05-18 15:47] ankiiitraj commented on #282
Footer has been removed, please close this @samagragupta

[2020-05-18 15:48] ankiiitraj commented on #281
Has been fixed with #292 close this. Thanks!

[2020-05-18 16:06] prabalsingh24 commented on #280
@hereisnaman Have a look at this and the PR :)

[2020-05-18 16:19] ankiiitraj opened #295 "Button are not properly alligned in Edit page"
They should be side by side
![Screenshot from 2020-05-18 21-39-46](https://user-images.githubusercontent.com/48787278/82236234-70144a00-9951-11ea-914b-ebfb8ee53de6.png)

[2020-05-18 16:21] ankiiitraj commented on #295
Hi mentors @hereisnaman can you please assign bounty on this.
I am working on it

[2020-05-18 16:26] #280 closed

[2020-05-18 16:47] ankiiitraj commented on #295
Does this looks good?
![Screenshot from 2020-05-18 22-17-11](https://user-images.githubusercontent.com/48787278/82238736-60970000-9955-11ea-9c35-fb1cd48d5af9.png)

[2020-05-18 16:54] #282 closed

[2020-05-18 17:04] HashTalmiz commented on #292
Duplicate issue. The PR is awaiting merge here: https://github.com/coding-blocks/boss/issues/197

[2020-05-18 17:09] ankiiitraj opened #299 "Save button do not saves the changes on Edit page"
Steps to reproduce:
1. Add a claim and save
2. Click on edit option for your claim.
3. Make the changes and hit save.

What was expected
      Changes should be visible on the claims page
What is happening
     Changes are not shown rather previous data is shown

[2020-05-18 17:11] ankiiitraj commented on #299
Hello, anybody can confirm if they are experiencing the same.
Hi @hereisnaman Kindly assign bounty to this.
Thanks!
P.S. : I am working on it.

[2020-05-18 17:12] samagragupta commented on #202
@hereisnaman @abhishek97 Can you please add bounty?

[2020-05-18 17:12] samagragupta commented on #206
@hereisnaman @abhishek97 Can you please add bounty?

[2020-05-18 17:13] samagragupta opened #300 "npm start for windows"
As this `"start": "NODE_ENV=production node index.js"` does not work properly in windows.

Also stating about node version.

[2020-05-18 17:22] joeedwin opened #301 "Showing internal server error when trying to view the claims"
![image](https://user-images.githubusercontent.com/26297616/82241673-3267ef00-995a-11ea-9ab2-fb61b7ef3f9e.png)

i would not like to work

[2020-05-18 17:29] joeedwin opened #302 "shows error when trying to add the claims"
![image](https://user-images.githubusercontent.com/26297616/82242205-19ac0900-995b-11ea-973d-c7a6f8a9f43e.png)

[2020-05-18 17:36] #292 closed

[2020-05-18 17:36] #197 closed

[2020-05-18 17:44] prabalsingh24 commented on #302
The website seems to be working for me :)

[2020-05-18 17:50] prathambatra commented on #260
@hereisnaman can I work on this?

[2020-05-18 18:16] hereisnaman commented on #260
why not

[2020-05-18 19:55] prathambatra commented on #260
![Screenshot from 2020-05-19 01-23-11](https://user-images.githubusercontent.com/29707062/82253909-83361280-996f-11ea-9f4a-4ce03a5b216d.png)
@hereisnaman I am facing this issue. please help

[2020-05-18 20:38] #295 closed

[2020-05-18 22:10] aannaassalam commented on #217
@abhishek97 please go through the pr's and assign bounties to one whom you feel is best

[2020-05-18 22:12] aannaassalam commented on #206
Can you please elaborate your issue??

[2020-05-18 23:08] YashKumarVerma commented on #301
I think it has been solved now

[2020-05-18 23:12] YashKumarVerma commented on #260
There's an active pr going for this : #279

[2020-05-18 23:20] hereisnaman commented on #260
Leave it for me to decide which PR to merge.

The PRs are merged based on code quality and best solutions. Until there is already a good enough solution, anyone can work on it.

[2020-05-19 02:59] #301 closed

[2020-05-19 02:59] #302 closed

[2020-05-19 04:41] samagragupta opened #309 "Pagination out of screen"
![Capture](https://user-images.githubusercontent.com/32234926/82285470-28290d80-99b9-11ea-8444-4c32330ea048.JPG)

[2020-05-19 04:42] samagragupta commented on #309
@hereisnaman Should we decrease the pagination size>

[2020-05-19 04:51] samagragupta commented on #300
@hereisnaman Created the PR: https://github.com/coding-blocks/boss/pull/310

[2020-05-19 04:56] hereisnaman commented on #251
Rather than showing the rank separately, if the user stats are not already in the table, add a row at the top in the table with the user's rank and other stats. Highlight the row for the logged in user stat using different bg.

[2020-05-19 05:11] pulkitmittal19 opened #311 "Don't allow same links for "issue" and "pull" in add bounty section"
Many of them are putting **same links** for **pull request** and **issue** to claim their **bounty** which **shouldn't** be allowed and **rejected automatically**

![issue_10](https://user-images.githubusercontent.com/53789333/82287195-41cc5400-99bd-11ea-8b69-7cd245735305.png)

![issue_9](https://user-images.githubusercontent.com/53789333/82287198-442eae00-99bd-11ea-982d-10be71f0ddd8.png)

![issue

[2020-05-19 05:44] prabalsingh24 commented on #311
This is not a bug. If you create an issue you'll be getting 20 bounties. So when issueUrl and pullUrl are same, it because they're claiming bounty for creating an issue :)

[2020-05-19 06:13] #311 closed

[2020-05-19 07:54] ankiiitraj commented on #251
Working on further improvement regarding this suggestion

[2020-05-19 08:13] ankiiitraj commented on #251
Hi @hereisnaman - Apologies for late PR as I was figuring out things as I am new to ember and sequalize.
Here are the screenshots
Not logged in
![Screenshot from 2020-05-19 13-05-28](https://user-images.githubusercontent.com/48787278/82299695-75b27400-99d3-11ea-9eba-615a00a6160e.png)
Logged In
![Screenshot from 2020-05-19 13-10-03](https://user-images.githubusercontent.com/48787278/82299972-d6da47

[2020-05-19 08:25] ankiiitraj opened #313 "[Open for suggestions] On npm start files appear to be commited"
Steps to reproduce :
1. Execute npm start
After install this happens
![Screenshot from 2020-05-19 13-54-52](https://user-images.githubusercontent.com/48787278/82303254-54a05200-99d8-11ea-8240-626775ac8932.png)
Possible solution:
Adding these files one by one to .gitignore
***Open for solution suggestion***

[2020-05-19 08:29] ankiiitraj commented on #309
We can make this maybe like 1, 2, 3, . . . , 10, 11

[2020-05-19 08:47] championswimmer opened #314 "bot: make a whitelist for CB mentors (do not comment on their issues/PRs)"
@championswimmer
@abhishek97
@himankbhalla
@jatinkatyal13
@tathagat2006
@hereisnaman
@TdevM

These members should be excluded

[2020-05-19 08:50] samagragupta commented on #309
@ankiiitraj This will increase the width of the page. More than the current wodth

[2020-05-19 08:55] #218 closed

[2020-05-19 11:01] ankiiitraj commented on #309
I am talking about doing something like this . . .
![Screenshot from 2020-05-19 16-30-48](https://user-images.githubusercontent.com/48787278/82318815-1e6dcd00-99ee-11ea-93e1-4d0bb787966a.png)

[2020-05-19 11:05] #314 closed

[2020-05-19 12:00] mnb27 commented on #216
@abhishek97 Assign boss label to this issue.

[2020-05-19 12:11] YashKumarVerma commented on #216
I have a doubt, what's the benefit of visually comparing these four values? they're all independent.

[2020-05-19 12:32] samagragupta commented on #309
Let @hereisnaman decide.

[2020-05-19 12:33] YashKumarVerma commented on #309
Is someone sending PR ?

[2020-05-19 13:01] ankiiitraj commented on #309
I would like to make the PR after reaching to conclusion

[2020-05-19 13:10] samagragupta commented on #309
I am already making a PR, so please do not make spam with PRs on a single issue.

[2020-05-19 15:05] hereisnaman commented on #309
This is a good idea. @ankiiitraj @samagragupta , @YashKumarVerma you all can work on this. Best code quality and logic will be selected.

[2020-05-19 15:55] #251 closed

[2020-05-19 17:19] prabalsingh24 opened #321 "Chai and Mocha tests"
Extension of #91

[2020-05-19 17:22] prabalsingh24 commented on #321
@hereisnaman what do you think? If you think this is a valid issue, please assign bounty.

I will do proper setup and start writing tests

[2020-05-19 18:16] mnb27 opened #322 "On editing a claim -> page resets to 1"
On either saving or deleting a claim the page no. resets to 1 from current page.

[2020-05-19 18:22] mnb27 commented on #216
@YashKumarVerma Not all stats are independent. We can show participants year wise, issues raised yearwise etc..Currently stats are not shown yearwise.
@abhishek97 What's your say ?

[2020-05-19 18:45] mdazmat9 opened #323 "On scrolling table of leader board and claim overlaps with header"
![image](https://user-images.githubusercontent.com/38210242/82365918-fce10580-9a2e-11ea-9ab5-0496df36112f.png)

[2020-05-19 18:46] mdazmat9 commented on #323
@hereisnaman  please check if its a bug

[2020-05-19 19:05] prathambatra commented on #313
@hereisnaman please have a look.

[2020-05-19 19:15] ankiiitraj commented on #323
Duplicate issue https://github.com/coding-blocks/boss/issues/217
Please close this

[2020-05-19 19:25] #323 closed

[2020-05-19 19:42] hereisnaman commented on #313
Add public_static to gitignore

[2020-05-19 20:24] ankiiitraj opened #326 "Improve pagination of Leaderboard."
Like that of issue #309  .
Leader board can also go out of page.

[2020-05-19 20:25] YashKumarVerma commented on #326
appreciating your work, please try doing it in bootstrap as entire system is being shifted to bootstrap.

[2020-05-19 20:26] ankiiitraj commented on #326
Hi actually I have just pushed it. So maybe after this one I would definitely keep that in mind

[2020-05-19 20:31] ankiiitraj commented on #326
Hi @hereisnaman Kindly add the bounty label. Thanks

[2020-05-20 04:37] samagragupta opened #329 "Reason column is of no use"
In public.claims table the reason column is made. But it is not used anywhere.

Should we delete it @hereisnaman ?

[2020-05-20 05:53] hereisnaman commented on #329
It is in use

[2020-05-20 05:53] #329 closed

[2020-05-20 07:49] #206 closed

[2020-05-20 09:18] aannaassalam commented on #206
Why have you closed this issue

[2020-05-20 11:13] Shubhamkakade06 commented on #233
I want to work on this issue....

[2020-05-20 11:14] YashKumarVerma commented on #233
This becomes obsolete as cb-bootstrap is integrated.

[2020-05-20 11:47] ankiiitraj opened #332 "[Suggestion needed] Only on pull merge, allow email notification of BOSS-Bot comment"
Currently for all the new issue or pull request created by the user Bot comment notification is sent through email which is kind of annoying and irrelevant.
Whereas, email notification of Bot comment for pull request merge can be useful.

Solution suggested:
Maybe not tagging the user with '@' can solve the problem
**Open for suggestion**
P.S. I want to work on this

[2020-05-20 11:57] aannaassalam opened #333 "stats card must have some hover effect"
cards inside stats menu must have some hover effect so that if anyone hovers on them the website will look more responsive...

@abhishek97 @hereisnaman please assign bounties to it.

[2020-05-20 12:43] ankiiitraj commented on #333
Hi let me know if this look good
![Screenshot from 2020-05-20 18-13-02](https://user-images.githubusercontent.com/48787278/82447214-9955e700-9ac5-11ea-909e-e74e6d173f0e.png)

[2020-05-20 13:06] YashKumarVerma commented on #333
Honest question, what's the point of changing things that will be replaced over when cb-bootstrap is implemented apart from bounty?

[2020-05-20 13:07] ankiiitraj commented on #333
valid point

[2020-05-20 13:53] aannaassalam commented on #333
will I get any bounties for this issue

[2020-05-20 13:56] YashKumarVerma commented on #333
I think the mentors alone can answer that

[2020-05-20 17:01] prabalsingh24 commented on #332
The email thing is a github feature not the bot feature. Bot only comments when you open a pr/issue or when a pr is merged which I guess is fine

[2020-05-20 17:46] ankiiitraj commented on #332
Gotcha @prabalsingh24
Closing

[2020-05-20 17:46] #332 closed

[2020-05-21 00:25] ankiiitraj commented on #275
This work feature is already present. I tried adding two claims with same pull url and I got error page saying I have taken that already.

[2020-05-21 02:42] prabalsingh24 commented on #275
Check my previous comment
https://github.com/coding-blocks/boss/issues/275#issuecomment-630006939

[2020-05-21 03:42] #275 closed

[2020-05-21 10:13] praj1wal opened #338 "Discord link visible to all"
The discord button should only be visible, if the user is logged in to the coding blocks. The button is visible for all, and anyone can join the discord channel.
I want to work on this issue.

[2020-05-21 11:15] hereisnaman opened #339 "test"

[2020-05-21 11:15] #339 closed

[2020-05-21 20:47] prathambatra commented on #257
@championswimmer I am working on this.  I have a doubt. right now there is only oneauthid stored in users table. So admin can only see or make admin based on oneauthid. is it fine? or do want u want to make or see admin by username also. so I will write a migration

[2020-05-21 20:48] #221 closed

[2020-05-21 20:48] championswimmer commented on #257
Just based on oneauth id is fine.

[2020-05-21 20:53] #217 closed

[2020-05-22 11:52] prathambatra commented on #261
@hereisnaman once #337 is final I will make PR for this also.

[2020-05-22 12:57] #313 closed

[2020-05-22 13:00] #326 closed

[2020-05-22 14:21] #309 closed

[2020-05-23 17:09] aannaassalam opened #343 "New added feature of Hover Effects doesn't work on leaderboard and claim options"
The brand new added hover effects on boss open source code does not work on leaderboard and claim option while running it locally on our machine.
Secondly, on hovering only colors are changing, it would look great if the fonts enlarge a bit on hovering to give it a 3D effect and a bit of cool sweeping underline effect too.
It may give a whole new turn to the life of hovering in boss navbar.

1. Ho

[2020-05-23 17:11] aannaassalam commented on #343
@championswimmer @abhishek97 please assign bounties to it so that I can apply my PR for review

[2020-05-23 20:54] aannaassalam opened #345 "On clicking Leaderboard on the boss website throws error"
![BOSS - Google Chrome 5_24_2020 2_22_01 AM](https://user-images.githubusercontent.com/54815094/82740335-895c3280-9d65-11ea-8b3c-24ec94a7c292.png)

This is the issue that its throwing and it needs a quick fix
@hereisnaman please review this error and assign bounties to this issue so that I can start working on it

[2020-05-23 21:04] aannaassalam commented on #345
@hereisnaman please assign my 20 Bounties for raising this issue
I have ak

[2020-05-23 21:06] aannaassalam commented on #345
I am not able to add a claim for 20 bounties for raising this issue

[2020-05-23 21:07] prathambatra commented on #345
@hereisnaman this is happening because the valid URL is leaderboard/{year} . so you want a new view at /leaderboard to choose year?

[2020-05-23 21:11] hereisnaman commented on #345
What is the issue?

[2020-05-23 21:11] hereisnaman commented on #345
/leaderboard should render the view for the latest year.

[2020-05-23 21:27] aannaassalam commented on #345
Its asking for the link of pull request
Can you assign me bounties without a claim???

[2020-05-23 21:28] hereisnaman commented on #345
You can put the link of the issue there.

[2020-05-23 21:33] aannaassalam commented on #345
Done

please review the PR's and merge the one that is appropriate

[2020-05-23 21:33] hereisnaman commented on #345
@aannaassalam @prathambatra the solutions you both provided are wrong.

Here: https://github.com/coding-blocks/boss/pull/347/files#diff-00735162fe7c86f7936aace9c14fc4e6R50 check if the year is undefined and render for 2020.

Because you both tried I'll give 50 points each. Please one of you create a PR for the solution.

[2020-05-23 21:38] aannaassalam commented on #345
Thank you for the points
I will start working on it tomorrow

[2020-05-23 21:49] prathambatra commented on #345
done. why 50-50 :(

[2020-05-23 22:11] hereisnaman commented on #345
Both of you didn't provide the right solution. I am giving you point just because you tried.

Another option is, I fix it and none of you get any points.

[2020-05-23 22:12] prathambatra commented on #345
okay i will claim 50 only ;)

[2020-05-23 22:13] prathambatra commented on #345
merge my PR.

[2020-05-23 22:14] hereisnaman commented on #345
added comments.

[2020-05-23 22:36] #345 closed

[2020-05-24 01:04] #214 closed

[2020-05-24 03:13] aannaassalam commented on #345
@hereisnaman will I get my 20 points for raising the issue

[2020-05-24 07:50] prateek2211 opened #348 "404 error on leaderboard link on main page"
On clicking `this page` button on home page, it redirects to https://boss.codingblocks.com/leaderboard , which gives 404 error
![Screenshot from 2020-05-24 13-19-22](https://user-images.githubusercontent.com/42961174/82748615-344e0a00-9dc1-11ea-8200-34495e557513.png)

Working link for leaderboard is https://boss.codingblocks.com/leaderboard/2020

With ref to #49

[2020-05-24 08:22] aannaassalam commented on #343
@hereisnaman please assign bounties so that I ca  start working on this

[2020-05-24 08:52] hereisnaman commented on #348
Thanks for reporting, fix have been merged already. We will do the fresh deployment soon.

[2020-05-24 08:52] #348 closed

[2020-05-24 08:54] hereisnaman commented on #343
We do not need font enlargement in navbar on hover. Also the theme will be changed quite a bit as we are migrating to bootstrap.

We can discuss this again after the migration is completed based on the then scenario. For now I am closing this.

[2020-05-24 08:54] #343 closed

[2020-05-24 08:59] aannaassalam commented on #343
ok

[2020-05-25 16:23] samagragupta commented on #300
@abhishek97 Please add bounty to this.

[2020-05-25 17:07] samagragupta opened #349 "Take input for the slider"
![Capture](https://user-images.githubusercontent.com/32234926/82832261-3ce53400-9ed8-11ea-92d9-8b0626dc816f.JPG)

[2020-05-25 17:07] samagragupta commented on #349
@hereisnaman Please assign bounty.

[2020-05-26 18:12] samagragupta commented on #349
I am working on this.

[2020-05-27 12:16] shubham-khanna commented on #349
I am interested in this.

[2020-05-27 20:30] #226 closed

[2020-05-27 20:30] #235 closed

[2020-05-27 20:30] #240 closed

[2020-05-27 20:30] #287 closed

[2020-05-27 20:31] championswimmer opened #351 "post-bootstrap-issues: pagination links are broken"

[2020-05-27 20:31] championswimmer opened #352 "post-bootstrap-issues: self user rank to be redone in new site"

[2020-05-27 20:32] championswimmer opened #353 "post-bootstrap-issues: ranks not showing"

[2020-05-27 20:35] championswimmer opened #354 "post-bootstrap-issues: discord link is broken"

[2020-05-27 22:35] prathambatra opened #358 "post-bootstrap-issues Admin can't open claim."
Previously , Admins can open claims by clicking on bounty points not working now.

[2020-05-27 22:59] #353 closed

[2020-05-28 03:35] YashKumarVerma commented on #352
The reference to this issue was done by mistake, I've force pushed with a new commit message, but for some reason
![image](https://user-images.githubusercontent.com/14032427/83096049-5944c480-a0c2-11ea-888f-041ea9d955bd.png) is not disappearing.

Apologies for the confusion.

[2020-05-28 04:00] YashKumarVerma opened #361 "Reason and Project in same line"
![image](https://user-images.githubusercontent.com/14032427/83097772-8c895280-a0c6-11ea-873e-0a42ced8c46a.png)

The project should be in the next line

---

should have been done along with the site redesign, to be considered a part of it.

[2020-05-28 07:13] mnb27 opened #363 "No spacing b/w Name and logout tab"
![over](https://user-images.githubusercontent.com/52792904/83110479-c5362580-a0e0-11ea-917f-8e75df12eb05.png)

[2020-05-28 07:17] mnb27 opened #364 "Dropdown hover and focus box-radius is inconsistent"
Box-radius to be changed.
![a](https://user-images.githubusercontent.com/52792904/83110766-3675d880-a0e1-11ea-81f8-fc9a63fefabe.png)

[2020-05-28 07:23] mnb27 opened #365 "Leaderboard Error 404!"
Only Top 10 are displayed in the leaderboard.
Furthur leaderboard pages not found.
Screencast:
![Screencast from Thursday 28 May 2020 12_49_04  IST](https://user-images.githubusercontent.com/52792904/83111309-067b0500-a0e2-11ea-9ff7-f1e4aaa6d04b.gif)

[2020-05-28 07:43] prathambatra commented on #365
@mnb27 I think this is due to broken pagination links. That's already an issue.

[2020-05-28 07:48] aannaassalam commented on #365
@abhishek97 duplicate issue please close this issue

[2020-05-28 08:36] mnb27 commented on #365
Ok!! closing this issue.

[2020-05-28 08:36] #365 closed

[2020-05-28 08:56] mnb27 opened #366 "Improper highlight box"
Highlight box radius is inconsistent.
http://boss.codingblocks.com/claims/view

Screenshot:
![11](https://user-images.githubusercontent.com/52792904/83120734-0c2b1780-a0ef-11ea-9bd2-6cc80d760219.png)
![12](https://user-images.githubusercontent.com/52792904/83120739-0df4db00-a0ef-11ea-82af-261409f3f3a2.png)

[2020-05-28 09:06] mnb27 opened #367 "Project: [ Link ]"
Project link directs to https://github.com/coding-blocks/ instead of respective project repo.
Screencast:
![Screencast from Thursday 28 May 2020 02_30_20  IST](https://user-images.githubusercontent.com/52792904/83121708-4c3eca00-a0f0-11ea-9865-31d58c9908a2.gif)

![h](https://user-images.githubusercontent.com/52792904/83121943-945dec80-a0f0-11ea-94bd-daca9b3e49de.png)

[2020-05-28 09:22] prathambatra opened #368 "Pull Request also opening issueUrl on claim/id and claim/view page"

[2020-05-28 10:50] mnb27 opened #369 "CB logo not visible"
"Coding Blocks" text color to be changed. Not clearly visible.
Screenshot:
![screenshot](https://user-images.githubusercontent.com/52792904/83132340-e0b02900-a0fe-11ea-91c4-14c2de5cad54.png)

[2020-05-28 11:06] prathambatra commented on #368
![Screenshot from 2020-05-28 16-34-49](https://user-images.githubusercontent.com/29707062/83133999-53220880-a101-11ea-83c5-0fb388469def.png)
![rsz_screenshot_from_2020-05-28_14-55-48](https://user-images.githubusercontent.com/29707062/83134037-63d27e80-a101-11ea-88d3-e559693a8816.png)

[2020-05-28 12:02] YashKumarVerma commented on #354
This PR was merged. We can close it now safely.

[2020-05-28 15:45] mnb27 commented on #369
@championswimmer
Created a light cb boss logo for dark bg:-
![logo](https://user-images.githubusercontent.com/52792904/83162938-0b62a780-a128-11ea-9934-fb5da2c3e82b.png)

On boss website:
![bg-ink](https://user-images.githubusercontent.com/52792904/83163021-21706800-a128-11ea-9fa8-c7efb595e198.png)

[2020-05-28 19:08] YashKumarVerma commented on #352
If possible, can you please guide a bit what exactly needs to be done here?

[2020-05-28 19:10] YashKumarVerma opened #379 "No need to ignore public_static"
public_static was ignored to fix the issue which raised when semantic used to create a load of files in that directory.
Now CB Bootstrap is set up, that too on cdn, that is not needed.

## Why
- When adding a light logo, as required for dark navbar, we need to put the logo file in public_static as per conventions.
- It is **not a long term solution** to ignore the static files directory, as we mig

[2020-05-28 19:19] YashKumarVerma commented on #379
PR #324 was sent to solve #313 as a temporary solution.
It needs to be reverted.

[2020-05-28 19:29] YashKumarVerma opened #380 "Github Bot not greeting new PRs"
The bot is not sending a welcome message for the PR which it earlier used to do.

Code for it:
https://github.com/coding-blocks/boss/blob/68a64a8c54ac65665020186f496a2b25fde3f08c/bot/index.js#L26-L45

Earlier:
![image](https://user-images.githubusercontent.com/14032427/83184664-65269a00-a147-11ea-9784-261d2abeb719.png)

Now:
![image](https://user-images.githubusercontent.com/14032427/83184693-740d

[2020-05-29 01:17] #380 closed

[2020-05-29 01:17] hereisnaman commented on #380
Good work.

[2020-05-29 03:18] #300 closed

[2020-05-29 03:20] championswimmer commented on #352
this has been already done actually via https://github.com/coding-blocks/boss/issues/353

[2020-05-29 03:20] #352 closed

[2020-05-29 03:21] #367 closed

[2020-05-29 03:24] #361 closed

[2020-05-29 03:25] championswimmer commented on #338
It is fine if it's visible to all.

[2020-05-29 03:25] #338 closed

[2020-05-29 04:25] samagragupta commented on #367
@championswimmer Could you please add bounty to this.

[2020-05-29 07:39] b30wulffz commented on #364
Fixed, please review

[2020-05-29 14:58] prathamk22 opened #388 "Issue and Pull Request showing same url"
It should show different url for pull and issue, But it is showing same url for both

![Screenshot (95)](https://user-images.githubusercontent.com/32957484/83274041-df5c2a80-a1ea-11ea-993d-080a2906d17b.png)

[2020-05-29 14:59] #388 closed

[2020-05-30 01:14] #369 closed

[2020-05-30 01:33] #364 closed

[2020-05-30 03:36] mnb27 commented on #369
@hereisnaman Assign bounties to this to claim.

[2020-05-30 09:35] shuklaashvani commented on #363
I have fixed this issue. Please review my PR.

[2020-05-30 13:20] #363 closed

[2020-05-30 16:43] YashKumarVerma opened #390 "Ensure new claims do not send non-standard inputs"
@YashKumarVerma can you first create a PR with the following:

- in add claim api, clean the urls, removing all the hashes, query params and add trailing slash.
- write a script to transform the current items for the same.

_Originally posted by /hereisnaman in https://github.com/coding-blocks/boss/pull/279#issuecomment-636271489_

[2020-05-31 03:58] #379 closed

[2020-05-31 03:58] #351 closed

[2020-05-31 03:59] #358 closed

[2020-05-31 04:12] #354 closed

[2020-05-31 04:13] championswimmer opened #393 "post-bootstrap-issue: claims management page should allow editing the bounty amt"
the form on `claims/:claimid` page should submit the bounty amount too.

[2020-05-31 04:22] championswimmer commented on #368
did it myself

[2020-05-31 04:22] #368 closed

[2020-05-31 11:52] YashKumarVerma opened #395 "CSRF Unimplemented"
https://github.com/coding-blocks/boss/blob/1445dd0548bcec39563efbcd3687e93ff27188da/server.js#L73-L75

[2020-05-31 13:40] mnb27 commented on #369
@hereisnaman How much bounty to claim ?

[2020-05-31 16:37] silenteyesoncode commented on #199
I like to contribute to this

[2020-06-04 00:04] championswimmer commented on #366
probably not an issue on second thoughts. it is fine whatever is there right now

[2020-06-04 00:04] #366 closed

[2020-06-04 00:05] #393 closed

[2020-06-04 07:18] aannaassalam commented on #202
Please close this issue @hereisnaman

[2020-06-04 07:18] aannaassalam commented on #202
Please close this issue @hereisnaman

[2020-06-05 02:52] #202 closed

[2020-06-05 03:46] aryan7778 opened #397 "Issue with leaderboard"
After going to last page there is no way to go to previous pages.
![leaderboard](https://user-images.githubusercontent.com/36998845/83834945-27101400-a70d-11ea-9ac8-de02c07e13cd.jpeg)

[2020-06-05 06:06] prabalsingh24 opened #398 "Error when leaderboard empty"
When DB is empty - there is no issue filed- `http://localhost:3232/leaderboard/2020` throws an error
`Errror Fetching leaderboard`
Although I don't see this ever happening in production. But still this bug should not be present

![Screenshot from 2020-06-05 11-35-14](https://user-images.githubusercontent.com/45737735/83842508-c559a500-a720-11ea-8b8a-7ee3a0b299e9.png)

[2020-06-05 06:21] #260 closed

[2020-06-05 06:27] hereisnaman opened #399 "Add Conflicting Claims count pill on Claims listing"
Now that the conflicting claims section is added use the same logic to count the number of conflicting claims for each claim in the list claims view.

Use pill badge to show the count in the claim cards.

Also remove "No Conflicted claims" from edit claims page if none is present.

Performance consideration is the top priority here.

[2020-06-05 08:23] prathambatra commented on #399
I am working on this.

[2020-06-05 11:01] dakshkhetan opened #401 "Incorrect label naming"
Last field should have label: "**Bounty**"

Screenshot:
<img width="845" alt="Screenshot 2020-06-05 at 4 27 21 PM" src="https://user-images.githubusercontent.com/43447509/83869014-7bd18000-a749-11ea-9fcd-292d1bcba62a.png">

[2020-06-05 11:03] dakshkhetan commented on #401
Mentors, please assign BOSS label & bounty, thanks!

[2020-06-05 14:52] prathambatra commented on #261
@hereisnaman as #357 is merged i am working on this now.

[2020-06-05 15:58] hereisnaman commented on #261
go ahead

[2020-06-05 17:54] mnb27 opened #404 "Page nav. in Last leaderboard page"
Page navigation is not present on last page of leaderboard.
GIF:-
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/52792904/83907688-76912700-a783-11ea-90ae-b284df2352e0.gif)

[2020-06-05 17:57] #404 closed

[2020-06-06 03:44] #401 closed

[2020-06-06 14:28] aftex261 opened #406 "Duplicate Names On Claims Page"
This issue quotes the duplicate names on Make Claims Page.

![2020-06-06_19-55-22](https://user-images.githubusercontent.com/56713924/83946685-fd034280-a82f-11ea-9b4d-2192580cf4e3.png)

Please assign a bounty for this issue if it's appropriate.

[2020-06-09 04:33] prabalsingh24 commented on #321
@hereisnaman is this not a valid issue?

[2020-06-11 14:36] prabalsingh24 opened #408 "upperCase/LowerCase is not handled for conflicting claims feature"
See this comment for more details
https://github.com/coding-blocks/boss/pull/357#pullrequestreview-426794508

[2020-06-12 12:29] amit2699 commented on #397
@hereisnaman , Can I take this problem to solve it

[2020-06-12 12:30] amit2699 commented on #397
Issue labeled #403

[2020-06-13 15:03] #281 closed

[2020-06-14 18:40] #257 closed

[2020-06-16 18:39] prathambatra opened #409 "BOSS Profile page"
Right now when we click on username from the claims page or leaderboard, we reach to Github profile. we can have a separate page for boss profile. it will show all recent work of that user, claims, and position on the leaderboard. from there we can also go to Github profile.

[2020-06-19 19:39] Ishaan29 commented on #408
@hereisnaman can I work on this issue ??

[2020-06-20 09:31] aditya237 commented on #408
can i work on this issue

[2020-06-20 09:31] aditya237 commented on #408
heyy is it  your first time

[2020-06-20 09:35] Ishaan29 commented on #408
Yes, I am new to this repo, but I think this would be a good task to understand the codebase😀

[2020-06-20 09:37] aditya237 commented on #408
Same here just wanna know

On Sat, Jun 20, 2020, 15:05 Ishaan bajpai <notifications@github.com> wrote:

[2020-06-20 10:10] hereisnaman commented on #409
Please list down the features you would like to include.

[2020-06-20 19:42] prathambatra commented on #409
Options for BOSS Profile Page :
User's current rank,
Bounty points,
recent work section (Timeline),
tabs for accepted claims and pending claims,
link to Github profile,
link to admin dashboard (if admin)

[2020-06-22 10:55] hereisnaman commented on #409
What about stats from previous BOSS seasons?

[2020-06-22 14:40] prathambatra commented on #409
yes we will add two options in stat current year and previous year

[2020-06-23 17:05] hereisnaman commented on #409
please share some wireframes.

[2020-06-24 06:22] gurrrung opened #410 "Leaderboard isn't responsive and overflows out of div on mobile"
![Screenshot from 2020-06-24 11-49-49](https://user-images.githubusercontent.com/30543444/85508041-ef600200-b610-11ea-991f-4ff7c3f3eef2.png)

[2020-06-25 21:02] prathambatra commented on #409
![rsz_screenshot_from_2020-06-26_02-30-05](https://user-images.githubusercontent.com/29707062/85795024-36efa680-b755-11ea-94e4-67ec03303353.png)

[2020-06-29 15:27] hereisnaman commented on #410
Suggested layout?

[2020-06-29 16:08] gurrrung commented on #410
I think the cleanest fix is we can make the leaderboard scrollable horizontally.

[2020-06-29 16:40] hereisnaman commented on #410
@gurrrung cool go ahead.

[2020-06-29 21:20] prathambatra commented on #409
@hereisnaman

[2020-06-30 00:57] hereisnaman commented on #409
Go ahead.

[2020-06-30 08:38] prathambatra commented on #409
Can you assign bounties? @hereisnaman

[2020-07-03 13:44] lopeselio opened #412 "Login and Login with OTP buttons require spacing"
Can I fix this?
![fddd](https://user-images.githubusercontent.com/43913734/86474849-4a0c0300-bd61-11ea-84f9-f0230ec18ef8.PNG)

[2020-07-06 20:18] prathambatra commented on #409
@hereisnaman

[2020-07-12 05:36] deprov447 commented on #409
@prathambatra . I would like to work on this issue if still open and unassigned

[2020-07-12 05:42] deprov447 commented on #408
@hereisnaman I would like to work on this issue

[2020-07-12 08:58] prathambatra commented on #409
@deprov447 anyone can try here. nothing is assigned. but i am already working and will make PR soon.

[2020-07-21 13:03] gurrrung opened #413 "claims page is down"
https://boss.codingblocks.com/claims/view

![Screenshot from 2020-07-21 18-32-21](https://user-images.githubusercontent.com/30543444/88058135-ad2ecf80-cb80-11ea-826a-6843bc43b752.png)

[2020-07-22 03:01] #413 closed

[2020-07-24 17:25] #397 closed

[2020-07-24 17:25] #398 closed

[2020-07-25 02:56] gurrrung opened #414 "edit claim feature is not working"
https://boss.codingblocks.com/claims/view

1) Create a test claim.
2) Edit the Issue GitHub URL.
3) Click save and it still shows old URL.

[2020-07-25 02:58] gurrrung opened #415 "refactor claims pagination"
1) Support the `...` for large no of claims.
2) Use the library used in Leaderboard and remove old pagination library (as it doesn't support `...`).

[2020-07-25 03:00] gurrrung opened #416 "make claims page mobile responsive"
A couple of things can be centre aligned for a better look.

![Screenshot from 2020-07-25 08-29-08](https://user-images.githubusercontent.com/30543444/88447447-016fd300-ce51-11ea-8ed2-8cb795e525a6.png)

[2020-07-26 05:34] gurrrung commented on #397
NOTE TO BOUNTY REVIEWER: the PR above resolves two bounty issues.

[2020-08-09 07:54] YashKumarVerma commented on #309
@hereisnaman,
should I claim the bounty for this one as well as this was fixed under https://github.com/coding-blocks/boss/pull/331 ?

[2020-08-12 10:03] coderrsid commented on #409
@hereisnaman  @prathambatra can i work on this issue?

[2020-08-12 10:17] prathambatra commented on #409
yes please

[2020-08-22 13:04] rahgurung opened #418 "add `last updated` timestamp in the leaderboard"
Maybe beside the heading Leaderboard, we can show (Last update on XYZ)

[2020-12-31 11:49] knightmate commented on #409
is this issue open?